@charset "utf-8";
/*---------------------------------------------
	파일명 : __fate
	설　명 : 운세컨텐츠 : 사주팔자
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/
.fate{position: relative;}
.fate-bg{background-color: #F4F6F9;}
.fate-vt{display: flex; flex-direction: column; min-height: calc((var(--vh,1vh) * 100)  - 45px); box-sizing: border-box;}

.fate__reg_top_wrap{background: #F4F6F9;}
.fate__reg_top{display: block; width: 100%;}

.fate__result_top{display: block; width: 100%;}
.fate__result{flex: 1 0 auto; padding: 0 15px 28px; background-color: #F4F6F9;}
.fate__result-bg{background: #F4F6F9 url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/luck/bg_fate_result.png") repeat-y top center; background-size: 100% auto;}
.fate__result_inner{position: relative; margin-top: -36px;}
.fate__info_card{display: flex; align-items: center; padding: 15px 16px; background: #fff; border-radius: 12px; box-shadow: 0 1px 4px rgba(0,0,0,.16);}
.fate__info_card_type_txt{margin-top: 4px; font-size: 12px; color: #707070; text-align: center;}
.fate__info_card_data{padding-left: 20px;}
.fate__info_card_data_name{font-weight: 700; color: #202020;}
.fate__info_card_data_gender{margin-top: 4px; color: #202020;}
.fate__info_card_data_date{margin-top: 4px; font-size: 14px; color: #707070;}
.fate__info_card_wrap{padding: 0 15px;}
.fate__info_card_wrap .fate__info_card:not(:first-child){margin-top: 16px;}
.fate__result_card{margin-top: 28px; border-radius: 12px; background-color: #fff; box-shadow: 0 1px 4px rgba(0,0,0,.16);}
.fate__result_tit{font-weight: 700; text-align: center; color: #202020;}
.fate__result_grp_tit_wrap{display: flex; margin-top: 20px;}
.fate__result_grp_tit{font-size: 14px; align-self: flex-end;}
.fate__result_grp_tit_sub{margin-left: auto; font-size: 18px; font-weight: 700; color: #202020;}
.fate__result_grp_bar{position: relative; width: 100%; height: 20px; margin-top: 10px; border-radius: 10px; background-color: #F1F1F1;}
.fate__result_grp_bar_gage{width: 0; height: 100%; border-radius: inherit; background:linear-gradient(to right, #585DEF,#7496FF)}
.fate__result_grp_vr{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 1px; height: 30px; background-color: #E1E1E1;}
.fate__result_grp_txt_wrap{display: flex; align-items: center; justify-content: space-between; margin-top: 10px;}
.fate__result_grp_txt{width: 20px; font-size: 12px; color: #707070; text-align: center;}
.fate__result_txt{padding-top: 24px; font-size: 14px; line-height: 25px; word-break: break-all;}
.fate__result_detail_card{padding: 16px 15px; border-radius: 12px; background-color: #fff; box-shadow: 0 1px 4px rgba(0,0,0,.16);}
.fate__result_detail_card:not(:first-child){margin-top: 28px;}
.fate__result_detail_tit{padding-bottom: 10px; font-weight: 700; color: #202020;}
.fate__result_detail_txt{padding-top: 10px; border-top: 1px solid #F1F1F1; font-size: 14px; line-height: 25px;}

.fate__history_date{position: relative; padding: 16px 0; font-size: 12px; font-weight: 700; color: #202020; text-align: center;}
.fate__history_date::before{position: absolute; left: 0; top: 50%; transform: translateY(-50%); content: ""; width: 34%; height: 2px; background-color: #D0D0D0;}
.fate__history_date::after{position: absolute; right: 0; top: 50%; transform: translateY(-50%); content: ""; width: 34%; height: 2px; background-color: #D0D0D0;}

/* 버튼 */
.fate__btn_wrap{width: 130px; margin: 24px auto 0;}
.fate__btn_default {position: relative; display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: nowrap; width: 100%; height: 50px; border-radius: 24px; background-color: #1E4A6D; box-sizing: border-box;}
.fate__btn_default_txt{color: #fff; white-space: nowrap;}
.fate__btn_default_arrow{width: 18px; height: 18px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 18 18'%3e%3cpath fill='white' d='M6.6 15c.2 0 .3-.1.5-.2l4.8-5.5c.2-.2.2-.5 0-.7L7.1 3.2c-.3-.2-.6-.3-.9-.1-.2.2-.3.5-.1.7v.1L10.6 9l-4.5 5.1c-.2.2-.2.5 0 .7h.1c.1.2.3.2.4.2'/%3e%3c/svg%3e") no-repeat center; background-size: 18px;}
.fate__btn_default-m{height: 44px;}
.fate__btn_default.disabled{background-color: #D4D4D4; cursor: default;}