@charset "utf-8";
/*---------------------------------------------
	파일명 : __pay_complete
	설　명 : 코인 충전 완료 페이지
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/
.pay_complete{position: relative; padding: 25px 15px 0;}
.pay_complete__tit{padding-left: 43px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_bm/ico_pay_complete.png") no-repeat left 5px center; background-size: 30px; font-size: 20px; color: #202020; font-weight: 700;}
.pay_complete__box_wrap{position: relative; margin-top: 15px; filter: drop-shadow(0 1px 4px rgba(0,0,0,.16));}
.pay_complete__box{padding: 24px 16px 20px; border-radius: 8px 8px 0 0; background-color: #fff;}
.pay_complete__box_bot{display: block;}
.pay_complete__ico_chk{width: 24px; height: 24px; margin: 0 auto; background: url("https://image.yeoboya.com/imgs/new_wedding/new_bm/ico_pay_complete_chk.png") no-repeat center; background-size: 100%;}
.pay_complete__txt{margin-top: 8px; color: #202020; font-weight: 700; font-size: 18px; text-align: center;}
.pay_complete__hr{height: 1px; margin-top: 20px; background-color: #F1F1F1;}
.pay_complete__info_wrap{margin-top: 16px;}
.pay_complete__info{display: flex;}
.pay_complete__info:not(:first-child){margin-top: 12px;}
.pay_complete__info_tit{flex: none; width: 90px;}
.pay_complete__info_txt{color: #202020; word-break: break-all;}
.pay_complete__btn_wrap{margin-top: 28px;}