@charset "utf-8";
/*---------------------------------------------
	파일명 : __pop_notice
	설　명 : 안내 리스트 팝업
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/

.pop_notice{width: 100%; margin-top: 16px;}
.pop_notice__list{display: flex; margin-top: 4px; font-size: 14px; color: #202020;}
.pop_notice__list:first-child{margin: 0;}
.pop_notice__list::before{content: "·"; margin: 0 4px 0 3px;}