@charset "utf-8";
/*---------------------------------------------
	파일명 : __vt_slide
	설　명 : 세로 슬라이드 형식 레이아웃
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/


.vt_slide{display: flex; flex-direction: column;}

/* 상단 */
.vt_slide__top{flex: none; padding-bottom: 16px;}
.vt_slide__top-type_bg{background: #F5F5F5;}
.vt_slide__top_content{position: relative;}

/* 하단 */
.vt_slide__bot{flex: 1 1 auto; display: flex; flex-direction: column; margin-top: -16px; border-radius: 16px 16px 0 0; background: #fff; z-index: 1;}
.vt_slide__bot-shadow{box-shadow: 0 -1px 4px rgba(0, 0, 0, .2);}