@charset "utf-8";

/******************** 서브리스트 공통 ********************/
/* 레이아웃 */
.icon_tab_layout{padding-top:50px; padding-bottom:10px;}
.message_layout .all_chk_box.fix{position: fixed; z-index: 50; top: 45px;}
/* #4187*/
.block_layout .all_chk_box{position:absolute; top:42px; right:0; left:0; z-index:300;}
.block_layout .tab_wrap{margin-bottom:40px;}
/* ▼#4187 메세지함 문구추가 CSS▼ */
.yby_msg_anno_box{display: flex; justify-content: center; align-items: center; padding-top: 8px;}
.yby_msg_anno_box__txt_wrap{padding: 10px 8px; border-radius: 6px; background: #EFF3FF;}
.yby_msg_anno_box__txt{font-size: 13px; font-weight: 700; color: #202020;}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
/* 아이콘 탭 */
.icon_tab_wrap{position:absolute; top:0px; right:0; left:0; z-index:300; width:100%; height:auto; background:#fff;}
.icon_tab_wrap.fixed{position: fixed; top:0;}
.icon_tab_wrap:after{content:""; display:block; clear:both;}
.icon_tab_wrap .tab_li{float:left; position:relative; width:33.3333%; height:auto;}
.icon_tab_wrap .tab_li a{display:block; width:100%; height:50px; line-height:17px; border-bottom:1px solid #d0d0d0; box-sizing:border-box; color:#473335; font-size:13px; font-weight:700; letter-spacing:-1px; text-align:center; opacity:0.7;}
.icon_tab_wrap .tab_li img{width:auto; height:14px; margin-top:9px;}
.icon_tab_wrap.icon_tab_wrap-marry .tab_li img{margin-top: 7px;}
.icon_tab_wrap .tab_li .new_badge{display:inline-block; position:absolute; top:6px; left:50%; width:18px; height:18px; line-height:18px; margin-left:-9px; border-radius:50%; background:#ea3c3c; color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.2); font-size:12px; font-weight:700; text-align:center;}
.icon_tab_wrap .tab_li .tab_on{border-bottom:2px solid #483334; background:#fff7ee; opacity:1;}
.icon_tab_wrap.icon_tab_wrap-marry .tab_li a{opacity: 1; color: #505050; font-size: 15px; line-height: 21px; height: 52px;}
.icon_tab_wrap.icon_tab_wrap-marry .tab_li .tab_on{border-bottom:3px solid #3654AE; background:#FFFFFF; color: #3654AE;}


/* 카운터 상단 */
.counter_top_box{position:relative; width:100%; height:auto; line-height:42px; padding:0 10px; border-bottom:2px solid #856052; box-sizing:border-box; background:#fff;}
.counter_top_box-bd_none{border: none;}
.counter_top_box .fc_num{color:#3654AE; font-size:14px; font-weight:700;}
.counter_top_box .bar{display:inline-block; vertical-align:-0.05rem; width:1px; height:12px; margin:0 7px; background:#d0d0d0;}
.counter_btn_box{position:absolute; display: flex; top:50%; right:10px; height:28px; margin-top:-14px;}
.counter_btn_box .btn_gray{vertical-align:top; position:relative; height:100%; line-height:26px; margin-right:3px; padding:0 10px; border:1px solid #d0d0d0; outline:none; border-radius:3px; box-sizing:border-box; background:#ffffff; box-shadow:none; color:#303030; font-size:13px;}
.counter_btn_box .btn_gray.btn_gray-switch{display: flex; align-items: center; padding: 0 6px; font-size: 12px; cursor: pointer;}
.counter_btn_box .btn_gray.btn_gray-switch.active{border: 1px solid #436DEA;}
.counter_btn_box .btn_gray .btn_gray_newbdg{position: absolute; top:-4px; left: -10px; width: 16px; height: 16px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/icon/icon_btn_gray_newbdg.png") no-repeat center; background-size: 100%;}
.counter_btn_box .btn_gray:last-of-type{margin-right:0;}
.counter_btn_box .btn_gray:active{background:#f0f0f0;}
.counter_top_box .counter_btn_box .btn_brown{vertical-align:top; position:relative; height:100%; line-height:28px; margin-right:4px; padding:0 10px; border:none; outline:none; border-radius:3px; box-sizing:border-box; background:#483334; box-shadow:none; color:#fff; font-size:13px; letter-spacing:-1px;}
.counter_top_box .counter_btn_box .btn_brown:last-of-type{margin-right:0;}
.counter_top_box .counter_btn_box .btn_brown:active{background:#352526;}
.counter_top_box .counter_btn_box .btn_brown.wish_meet{line-height:12px; padding:0 6px; font-size:11px;}
.counter_top_box .counter_btn_box .btn_brown .new_badge{display:inline-block; position:absolute; top:-6px; right:-8px; z-index:10; width:16px; height:16px; line-height:16px; border-radius:50%; background:#ea3c3c; color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.2); font-size:11px; font-weight:700; text-align:center;}
.counter_top_box .counter_btn_box .btn_blue{vertical-align:top; position:relative; height:100%; line-height:28px; margin-right:2px; padding:0 10px; border:none; outline:none; border-radius:3px; box-sizing:border-box; background:#3654AE; box-shadow:none; color:#fff; font-size:13px; letter-spacing:-1px;}
.counter_top_box .counter_btn_box .btn_blue:last-of-type{margin-right:0;}
.counter_top_box .counter_btn_box .btn_blue:active{background:#3654AE;}
.counter_top_box .counter_btn_box .btn_blue.wish_meet{line-height:12px; padding:0 6px; font-size:11px;}
.counter_top_box .counter_btn_box .btn_blue .new_badge{display:inline-block; position:absolute; top:-6px; right:-8px; z-index:10; width:16px; height:16px; line-height:16px; border-radius:50%; background:#ea3c3c; color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.2); font-size:11px; font-weight:700; text-align:center;}

/* 전체선택 */
.all_chk_box{position:relative; display: flex; align-items: center; width:100%; height:auto; padding:6px 10px 5px 10px; box-sizing:border-box; background:#f5f5f5; border-bottom:1px solid #e0e0e0;}
.all_chk_box.fixed{position: fixed; top:45px;}
.all_chk_box:after{content:""; display:block; clear:both;}
.all_chk_box .small_chk_box{float:left;}
.all_chk_box .small_chk_box .chk_lb{height:28px;}
.all_chk_box .btn_slct_del{flex: none; float:left; height:28px; line-height:26px; padding:0 10px; margin-right: auto; border:1px solid #c0c0c0; outline:none; border-radius:3px; box-sizing:border-box; background:#fff; box-shadow:none; color:#303030; font-size:13px;}
.all_chk_box .btn_slct_del:active{background:#f8f8f8;}
.btn_type_msg{flex: none; display: flex; align-items: center; float:right; height:28px; line-height:26px; padding:0 5px; border:1px solid #c0c0c0; outline:none; border-radius:3px; box-sizing:border-box; background:#fff; box-shadow:none; color:#303030; font-size:13px;}
.btn_type_msg.active{border: 1px solid #3654AE; color: #3654AE;}
.btn_type_msg .num{display: inline-block; position:relative; vertical-align:top; width:auto; border-radius:50%; border-top-left-radius:100%; border-top-right-radius:50%; border-bottom-right-radius:100%; border-bottom-left-radius:50%; background:#f53148; transform-origin:center center;}
.btn_type_msg .num:nth-of-type(1){padding:0px 3px; height:4px; margin:5px -2px 0 0; transform: rotate(-32deg);}
.btn_type_msg .num:nth-of-type(2){padding:0px 6px; height:6px; margin:7px -4px 0 0; transform: rotate(-32deg);}
.btn_type_msg .num:nth-of-type(3){padding:0px 9px; height:8px; margin:8px -8px 0 0; transform: rotate(-32deg);}
.btn_type_msg .num:nth-of-type(4){padding:0px 12px; height:16px; margin:5px 0 0 0; transform: rotate(-24deg);}
.btn_type_msg .num_txt{display:inline-block; vertical-align:top; line-height:16px; font-size: 12px; color:#fff; font-weight: bold; transform: rotate(24deg);}
.btn_type_msg .unread{color:#ef2f46;}
.all_chk_box__flex{display: flex; align-items: center; justify-content: space-between;}
.btn_type_msg-fl{float: left !important;}
/* .btn_type_msg_check{align-self: center; width: 15px; height: 15px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 32'%3e%3cpath fill='%23FF1A23' d='M5.31 15.386c1.15.21 2.18.85 2.86 1.79.83 1.44 4.52 6.52 4.98 6.98s.86.92 1.35 0c2.4-4.09 5.1-8.01 8.06-11.71 3.24-3.71 6.72-7.2 10.43-10.44 0 0-9.23 14.31-10.61 16.61s-5.08 10.15-6.92 11.08c-1.42.79-3.2.39-4.15-.92-.46-.92-8.31-10.61-8.31-11.08s0-1.85 2.31-2.31z'/%3e%3c/svg%3e") center no-repeat; background-size: 15px auto;} */
.btn_type_un{position: relative; flex: none; height: 28px; margin-left: 4px; border-radius: 3px; overflow: hidden;}
.btn_type_un_container{position: relative; left: 0; top: 0; display: flex; align-items: center; width: 100%; height: 100%; padding: 3px 6px 4px; border-radius: 2px; box-sizing: border-box; background: #FE495F;}
.btn_type_un_num{flex: none; min-width: 16px; height: 16px; padding: 1px 3px; border-radius: 16px; box-sizing: border-box; background: #FFF; font-size: 11px; color: #F53148; line-height: 14px;}
.btn_type_un_txt{flex: none; margin-left: 4px; font-size: 13px; color: #FFF;}
.btn_type_un::after{content: ""; position: absolute; top: 0; left: 0; width: 80%; height: 100%; background: linear-gradient(285deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 199, 204, .8), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); animation: btnEmpAni 1.5s infinite ease-out;}

@keyframes btnEmpAni {
	0%{transform: translateX(-100px);}
	100%{transform: translateX(100px);}
}

/* 안내문구 */
.sub_notice{position:relative; width:100%; height:auto; line-height:29px; padding:5px 10px; border-bottom:1px solid #e0e0e0; box-sizing:border-box; background:#f5f5f5; color:#808080; font-size:13px;}
/* 프로필열람내역 문구 */
.txt_pf_data {text-align: right;line-height: 28px;font-size: 13px;}

/******************** 서브리스트 ********************/
.day_box{position:relative; width:100%; height:auto; margin-top:5px;}

/* 날짜선 */
.day_txt{position:relative; width:100%; height:auto; text-align:center; margin-bottom:-7px;}
.day_txt .day{display:inline-block; vertical-align:top; position:relative; z-index:10; height:20px; line-height:20px; padding:0 10px; background:#fff; color:#303030; font-size:13px; font-weight:700;}
.day_txt .line{position:absolute; top:50%; right:0; left:0; width:100%; height:2px; margin-top:-1px; background:#D0D0D0;}
.day_txt .ico_bookmark{vertical-align:-0.1rem; width:14px; height:14px; margin-right:5px;}

/* 리스트 정보 */
.day_ul{position:relative; width:100%; height:auto; padding:0 10px; box-sizing:border-box;}
.day_ul .day_li{position:relative; width:100%; height:auto;}
.day_ul .day_li:before{content:""; display:block; position:absolute; top:0; left:20%; right:20%; z-index:10; width:60%; height:1px; background:#d0d0d0;}
.day_ul .day_li:first-of-type:before{background:transparent;}
.day_li .small_chk_box{position:absolute; top:50%; left:0; z-index:10; margin-top:-25px;}
.day_li .small_chk_box .chk_lb{height:50px;}
.day_li .photo_box{position:absolute; top:50%; left:0; width:50px; height:50px; margin-top:-28px; border:2px solid #d4d4d4; background:#f8f8f8; border-radius:50%; box-sizing:border-box; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.day_li .photo_box img{display:block; width:100%; height:100%; border-radius:50%; object-fit:cover;}
.day_li .photo_box .photo_num{display:inline-block; position:absolute; top:-2px; right:-2px; width:16px; height:16px; line-height:16px; border-radius:50%; background:#29bf00; color:#fff; font-size:12px; font-weight:700; text-align:center;}
.day_li .badge_new, .day_li .badge_re{position:absolute; bottom:-8px; left:50%; transform:translateX(-50%);}
.day_li .txt_box{position:relative; width:100%; min-height:62px; padding-left:58px; padding-right:58px; padding-top:16px; padding-bottom:15px; box-sizing:border-box;}
.day_li .txt_box-flex{display: flex;}
.day_li .txt_box.pd_none{padding-top:12px; padding-bottom:0;}
.day_li .txt_line{width:100%; line-height:17px; margin-top:5px; box-sizing:border-box; font-size:13px;}
.day_li .txt_line:first-of-type{margin-top:0;}
.day_li .txt_line.pr_none{padding-right:0;}
.day_li .txt_line .time{display:inline-block; vertical-align:top; width:auto; line-height:17px; margin-left:4px; padding-left:15px; background:url("https://image.yeoboya.com/imgs/new_wedding/renewal/img_sublist/ico_sublist_time.png") no-repeat left 3px; background-size:12px 12px; color:#707070; font-size:13px; letter-spacing:-1px;}
.day_li .ico_bookmark{vertical-align:-0.1rem; width:14px; height:14px; margin-right:3px;}
.day_li .ico_arrow{vertical-align:-0.15rem; width:14px; height:14px; margin-right:4px;}
.day_li .nickname{letter-spacing:-1px;}
.day_li .age{letter-spacing:-1px;}
.day_li .secret{vertical-align:-0.2rem; width:16px; height:16px; margin:0 1px;}
.day_li .read_span{display:inline-block; position:relative; margin-left:6px; margin-right:6px;}
.day_li .all_read{vertical-align:-0.2rem; width:auto; height:16px; margin-left:1px;}
.day_li .ico_ai{vertical-align:-0.24rem; width:auto; height:19px;}
.ico_new_chk{vertical-align:-0.05rem; width:auto; height:11px;}
.day_li .read_num{position:absolute; top:-3px; right:-10px; width:14px; height:14px; line-height:14px; border-radius:100%; background:#5c89f4; color:#fff; font-size:10px; font-weight:700; text-align:center;}
.day_li .receive_send_span {display:inline-block; position:relative; padding-left:32px; font-size:0.72rem;}
.day_li .receive_send_span .img_speaker {position:absolute; top:-6px; left:4px; width:25px; margin-left: 2px;}
.day_li .receive_send_span .msg_man {color:#427fcf;}
.day_li .receive_send_span .msg_woman {color:#ff5777;}
.day_li .badge_line{width:100%; line-height:17px; margin-top:4px; box-sizing:border-box; color:#303030; font-size:12px; display:-webkit-box; -webkit-line-clamp:1;-webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; word-break:break-all;}
.day_li .badge_line .num{display:inline-block; vertical-align:0.05rem; width:14px; height:14px; line-height:14px; margin:0 5px 0 3px; border-radius:50%; background:#29bf00; color:#fff; font-size:11px; text-align:center;}
.phone_box{display:block; position:relative; padding-bottom:12px; padding-left:58px; box-sizing:border-box;}
.day_li .num_line{width:100%; line-height:25px; color:#303030; font-size:16px; font-weight:700;}
.day_li .num_line .open_num{padding-left:20px; color:#007bd0; text-decoration:underline; background:url("https://image.yeoboya.com/imgs/new_wedding/img/ico_meet_open.png") no-repeat left 6px; background-size:15px;}
.day_li .num_line .cover_num{display:inline-block; vertical-align:-3px; width:50px; height:20px; background:url("https://image.yeoboya.com/imgs/new_wedding/prime/background_bg.png") no-repeat center center; background-size:100% 20px;}
.day_li .num_line .show_num{position:relative; display:inline-block; vertical-align:top; height:25px; padding:0 8px; border-radius:5px; background:#007bd0; color:#fff; font-size:13px; text-align:center;}
.day_li .num_line .waiting_num{position:relative; display:inline-block; vertical-align:-0.5px; margin-left:7px;}
.day_li .num_line .waiting_num img{width:50px;}
.day_li .meet_line{line-height:15px; color:#ff5252; font-size:12px; margin-top:4px;}
.day_li .noti_line{line-height:15px; padding-left:20px; background:url("https://image.yeoboya.com/imgs/new_wedding/img/ico_meet_noti.png") no-repeat 6px 2px; background-size:7px; color:#707070; font-size:12px; margin-top:3px;}
.day_li .noti_line .fc_count{color:#007bd0;}
.day_li .ineterest_box {position:absolute; top:17px; right:0; width:65px; height:46px;}
.day_li .ineterest_box img {width:100%; height:100%; object-fit: contain;}

/* #4411 CSS */
.day_li .secret_knock{display:inline-block; position: relative; margin-right:12px; width:25px; z-index:20;}
.day_li .secret_knock_ico{position:absolute; width:35px; top:-12px;}
.day_li .du_user_shutter{display:inline-block; position:relative; margin-right:20px; width:23px; z-index:20;}
.day_li .du_user_shutter_ico{position:absolute; width:22px; top:-2px;}
.secret_knock .read_num{position:absolute; top:-3px; right:-12px; width:14px; height:14px; line-height:14px; border-radius:100%; background:#5c89f4; color:#fff; font-size:10px; font-weight:700; text-align:center; z-index:20;}
.du_user_shutter .read_num{position:absolute; top:-3px; right:-10px; width:14px; height:14px; line-height:14px; border-radius:100%; background:#5c89f4; color:#fff; font-size:10px; font-weight:700; text-align:center;}
.day_li .pf_receive_send_span {position:relative; padding-left:28px; font-size:0.72rem; margin:12px 0 0 0;}
.day_li .pf_receive_send_span .img_speaker {position:absolute; top:-6px; left:4px; width:25px;}
.day_li .pf_receive_send_span .msg_man {color:#427fcf;}
.day_li .pf_receive_send_span .msg_woman {color:#ff5777;}
.pf_ico_box{display:block; margin-top:10px;}
.secert_btn{margin-right:20px;}
@media screen and (max-width:321px){
    .secert_btn{margin-right:0;}
}

/* 리스트 오른쪽 */
.day_li .list_right_box{position:absolute; top:0; right:0; bottom:0; z-index:10; height:100%;}
.day_li .list_right_box .flex_box{display:flex; height:100%; box-sizing: border-box;}
.day_li .list_right_box .table_box{display:table; width:100%; height:100%;}
.day_li .list_right_box .center_box{display:table-cell; vertical-align:middle; text-align:right;}
.day_li .list_right_box .bottom_box{display:table-cell; vertical-align:bottom; padding-bottom:11px; text-align:right;}
.day_li .list_right_box button{box-shadow:none; outline:none;}
.time{display:inline-block; vertical-align:top; width:auto; line-height:17px; padding-left:15px; background:url("https://image.yeoboya.com/imgs/new_wedding/renewal/img_sublist/ico_sublist_time.png") no-repeat left 3px; background-size:12px 12px; color:#707070; font-size:13px; letter-spacing:-1px;}

/* 기본열람 전체열람 방문횟수 */
.day_li .list_right_box .view_badge{display:inline-block; height:28px; line-height:26px; padding:0 6px; border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8; color:#303030; font-size:13px;}
.day_li .list_right_box .all_view_badge{display:flex; justify-content: center; align-items: center; height:28px; line-height:26px; padding:0 6px; border:1px solid #00afdd; border-radius:3px; box-sizing:border-box; background:#fff; color:#00afdd; font-size:13px;}
.day_li .list_right_box .all_view_badge .all_view_badge_sub{font-size: 11px; color: #046882;}
.day_li .list_right_box .pf_update_badge{height: 28px; padding:0 6px; border: 1px solid #00B4B1; border-radius: 3px; box-sizing: border-box; line-height: 26px; color: #00B4B1; font-size: 13px;}
/* .day_li .partner_profile .list_right_box .view_badge{height:24px; line-height:22px;}
.day_li .partner_profile .list_right_box .all_view_badge{height:24px; line-height:24px;} */
.day_li .partner_profile .list_right_box .btn_visit{height:28px; line-height:28px; margin-top:3px; padding:0 0 0 6px; border:none; border-radius:3px; box-sizing:border-box; background:#a877e5; color:#fff; font-size:13px;}
.day_li .partner_profile .list_right_box .btn_visit .visit_num{color:#fced94; margin:0 8px 0 5px;}
.day_li .partner_profile .list_right_box .btn_visit .visit_drop{vertical-align:0.1rem; width:10px; height:6px;}

/* 메시지갯수 */
.day_li .list_right_box .msg_like{vertical-align:-0.15rem; width:16px; height:14px; margin-right:3px;}
.day_li .list_right_box .msg_gift{vertical-align:-0.15rem; width:28px; height:28px; margin-right: 3px;}
.day_li .list_right_box .msg_now{display:inline-block; vertical-align:-0.01rem; width:18px; height:18px; line-height:18px; margin-right:3px; border-radius:50%; background:#f53148; color:#fff; font-size:13px; text-align:center;}
.day_li .list_right_box .msg_all{display:inline-block; vertical-align:-0.01rem; width:21px; height:18px; line-height:18px; background:url("https://image.yeoboya.com/imgs/new_wedding/renewal/ico_msg_all.png") no-repeat right center; background-size:21px 18px; color:#808080; font-size:13px; text-align:center;}

/* 시크릿버튼 */
.day_li .list_right_box .btn_request{height:30px; line-height:28px; padding:0 5px; border:1px solid #d0d0d0; outline:none; border-radius:3px; box-sizing:border-box; background:#f8f8f8; box-shadow:none; color:#d26499; font-size:13px;}
.day_li .list_right_box .btn_refusal{height:30px; line-height:28px; padding:0 9px; border:1px solid #d0d0d0; outline:none; border-radius:3px; box-sizing:border-box; background:#f8f8f8; box-shadow:none; color:#303030; font-size:13px;}
.day_li .list_right_box .btn_accept{height:30px; line-height:28px; margin-left:4px; padding:0 10px; border:none; outline:none; border-radius:3px; box-sizing:border-box; background:#e177aa; box-shadow:none; color:#fff; font-size:13px;}

/* 만나고싶어요 수락 */
.day_li .list_right_box .btn_wish_meet{display:block; width:45px; height:30px; line-height:28px; padding:0 10px; border:none; outline:none; border-radius:3px; box-sizing:border-box; background:#007bd0; box-shadow:none; color:#fff; font-size:13px;}
/* 만나고싶어요 거절 */
.day_li .list_right_box .btn_wish_cancel{display:block; width:45px; height:30px;line-height:28px; margin-top:4px;padding:0 10px;border: 1px solid #e1e1e1;outline:none;border-radius:3px;box-sizing:border-box;background: #f8f8f8;box-shadow:none;color: #6b6b6b;font-size:13px;}


/* 내 프로필 열람리스트 */
.partner_profile{position:relative; width:100%; height:auto;}
.my_profile{position:relative; width:100%; height:auto; margin-top:-5px; padding:0 0 12px 23px; box-sizing:border-box;}
.my_profile .my_profile_badge{display:inline-block; height:18px; line-height:18px; margin-right:3px; padding:0 6px; border:none; border-radius:3px; box-sizing:border-box; background:#00afdd; color:#fff; font-size:12px;}

/* 방문리스트 */
.visit_li{position:relative; width:100%; height:auto; background:#F0E6FF}
.visit_li .visit_header{position:relative; width:100%; height:auto; background:#835CC9; margin-bottom:5px;}
.visit_li .visit_header .visit_tit{position:relative; width:100%; height:24px; line-height:24px; padding:0 10px; box-sizing:border-box; color:#fff; font-size:13px; font-weight:700;}
.visit_li .visit_header .visit_tit .visit_num{color:#fced94; margin-left:3px;}
.visit_li .visit_header .visit_clse{position:absolute; top:0; right:0; bottom:0; width:50px; height:100%; border:none; outline:none; background:url("https://image.yeoboya.com/imgs/new_wedding/mobile/img/clse_list.png") no-repeat right 10px center; background-size:14px 14px; box-shadow:none;}
.visit_li .day_txt .day{background:#F0E6FF}
.visit_li .day_txt .line{background:#B8B8B8;}
.visit_li .day_ul .day_li::before{background:#D4D4D4;}
.visit_li .day_ul .day_li:first-of-type:before{background:transparent;}
.visit_li .day_ul .day_li .list_right_box .view_badge{border: 1px solid #A8A8A8;}

/***** #7233, #7283 AI 결혼지수 분석 추가 *****/
/* .pf_visit__btn_wrap {width:100%; text-align:right; font-size:0;}
.pf_visit__btn_wrap .pf_visit__btn {height:28px; line-height:28px; padding-left:8px; border:none; border-radius:3px; box-sizing:border-box; color:#fff; font-size:13px;}
.pf_visit__btn_wrap .btn_visit {background-color:#835CC9;}
.pf_visit__btn_wrap .btn_ai {background-color:#3654AE;}
.pf_visit__btn_wrap .btn_basic {background-color:#666666;}
.pf_visit__btn_wrap .visit_num {margin:0 8px 0 4px;}
.btn_visit .visit_num{color:#fced94;}
.btn_ai .visit_num,
.btn_basic .visit_num {color:#FFD81B;}
.pf_visit__btn_wrap .pf_visit__btn .visit_drop{vertical-align:0.1rem; width:10px; height:6px;}*/
.pf_visit__guide {display: flex; align-items: center; width:100%; padding:0 15px; box-sizing: border-box;}
.pf_visit__guide_icon {display:flex; flex:0 0 auto; align-items:center;}
.pf_visit__guide_txt {line-height:23px; text-decoration:underline; text-underline-position:under; color:#3654AE; font-size:13px;} 

/* #7319 프로필 열람내역 버튼 수정 */
.pf_visit__btn_wrap{display:flex; align-items: center; width:100%; padding-left:80px; box-sizing: border-box;}
.pf_visit__btn{height:28px; line-height:28px; padding:0 40px 0 8px; margin-right:4px; border-radius: 3px; color:#202020; font-size:13px;}
.pf_visit__btn:last-of-type{margin-right:0;}
.pf_visit__btn-view{background:#F1F1F1 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m36.815 18.877-12.82 10.25-12.81-10.25'/%3e%3c/svg%3e") no-repeat right 2px center; background-size:24px 24px;}
.pf_visit__btn-all_view{background:#F6F0FF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%23835CC9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m36.815 18.877-12.82 10.25-12.81-10.25'/%3e%3c/svg%3e") no-repeat right 2px center; background-size:24px 24px;}
.pf_visit__btn-ai{background:#EFF3FF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%233654AE' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m36.815 18.877-12.82 10.25-12.81-10.25'/%3e%3c/svg%3e") no-repeat right 2px center; background-size:24px 24px;}
.pf_visit__btn-active.pf_visit__btn-view{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m11.185 29.127 12.82-10.25 12.81 10.25'/%3e%3c/svg%3e");}
.pf_visit__btn-active.pf_visit__btn-all_view{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%23835CC9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m11.185 29.127 12.82-10.25 12.81 10.25'/%3e%3c/svg%3e");}
.pf_visit__btn-active.pf_visit__btn-ai{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3e%3cpath fill='none' stroke='%233654AE' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m11.185 29.127 12.82-10.25 12.81 10.25'/%3e%3c/svg%3e");}
.pf_visit__btn-no_evnt{padding: 0 8px; background-image: none; background-size: initial; cursor: default;}
.pf_visit__btn-active.pf_visit__btn-no_evnt{background-image: none;}
.pf_visit__btn_txt{position:relative; z-index: 1; padding:2px; font-weight:700;}
.pf_visit__btn_txt_sub{margin-left:14px; font-size: 11px; font-weight: 700; color: #835CC9;}
.pf_visit__btn-view .pf_visit__btn_txt{color:#505050;}
.pf_visit__btn-all_view .pf_visit__btn_txt{color:#835CC9;}
.pf_visit__btn-ai .pf_visit__btn_txt {color:#3654AE;}
.pf_visit__btn_txt::before{content:""; position:absolute; z-index: -2; bottom:0; left:0; width:100%; height:12px; border-radius: 9px 3px 9px 3px;}
.pf_visit__btn-view .pf_visit__btn_txt::before{background-color: #E1E1E1;}
.pf_visit__btn-all_view .pf_visit__btn_txt::before{background-color: #E8DCFF;}
.pf_visit__btn-ai .pf_visit__btn_txt::before{background-color: #D9E4FF;}
.pf_visit__btn_txt::after{content:""; position: absolute; z-index: -1; bottom:0; right:0; width:12px; height:12px; border-radius: 9px 3px 9px 3px;}
.pf_visit__btn-view .pf_visit__btn_txt::after{background-color: #D1D1D1;}
.pf_visit__btn-all_view .pf_visit__btn_txt::after{background-color: #D1BAFE;}
.pf_visit__btn-ai .pf_visit__btn_txt::after {background-color: #BFD1FF;}
.pf_visit__btn_num{position:absolute; z-index:1; top:-2px; right:-12px; width:14px; height:14px; line-height:14px; border-radius:100%; background:#5c89f4; color:#fff; font-size:10px; font-weight:700; text-align:center;}
/* .pf_visit__btn_num-view{right: -38px;} */

/* .pf_visit__btn_num{position:relative; z-index: 1; padding:0 5px 0 3px; color:#FF5414; font-size:16px; font-weight: bold;}
.pf_visit__btn_num::before{content:""; position:absolute; z-index: -2; bottom:0; left:0; width:100%; height:12px; border-radius: 9px 3px 9px 3px; background-color:#FFDFD4;}
.pf_visit__btn_num::after{content:""; position: absolute; z-index: -1; bottom:0; right:0; width:12px; height:12px; border-radius: 9px 3px 9px 3px; background-color:#FFD2C1;} */

/* #8683 내가 본 프로필 업데이트 목록 */
.pf_visit__update{position: relative; width: 100%;}
.pf_visit__update_btn_wrap{position: relative; width: 100%; display: flex; justify-content: center; padding: 12px 0 10px 0;}
.pf_visit__update_btn{position: relative; display: flex; align-items: center; width: 233px; height: 28px; padding:0 2px 0 8px; border: 1px solid transparent; background-color: #F6F9FE; border-color: #2D426B; border-radius: 4px; box-sizing: border-box; font-size: 13px; line-height: 18px; color: #202020;}
.pf_visit__update_btn_emp{display: inline-block;  padding: 0 2px; font-weight: 700;}
.pf_visit__update_btn_emp.pf_visit__update_btn_emp-update{background: url("https://image.yeoboya.com/imgs/new_wedding/mobile/img/img_prf_visit_emp-update.png") no-repeat center bottom; background-size: 100% 16px; }
.pf_visit__update_btn_emp.pf_visit__update_btn_emp-regist{background: url("https://image.yeoboya.com/imgs/new_wedding/mobile/img/img_prf_visit_emp-regist.png") no-repeat center bottom; background-size: 100% 16px; }
.pf_visit__update_btn_strong{font-weight: 700; color: #FF5656;}
.pf_visit__update_btn_ico{margin-left: auto; display: block; width: 28px; height: 28px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3e%3cg data-name='%ea%b7%b8%eb%a3%b9 3'%3e%3cpath data-name='%ed%8c%a8%ec%8a%a4 2' d='m20.189 11.937-6.406 5.125-6.407-5.125' fill='none' stroke='%232d426b' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3e%3c/g%3e%3cpath data-name='%ec%82%ac%ea%b0%81%ed%98%95 87' fill='none' d='M28 0v28H0V0z'/%3e%3c/svg%3e") no-repeat center; background-size: 100%;}
.pf_visit__update_btn_ico.active{transform: rotate(180deg);}
.pf_visit__update .read_num{top:-18px; right: -6px;}
.pf_visit__update_list_wrap{position: relative; width: 100%;}
.pf_visit__update_list_header{position: relative; display: flex; align-items: center; width: 100%; height: 25px; padding:0 5px 0 10px; box-sizing: border-box; background-color: #2D426B; font-size: 13px; line-height: 18px; color: #FFFFFF;}
.pf_visit__update_list_header_strong{color: #FCED94;}
.pf_visit__update_list_header_cls{width: 25px; height: 25px; margin-left: auto; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cpath data-name='%ec%82%ac%ea%b0%81%ed%98%95 90' fill='none' d='M0 0h25v25H0z'/%3e%3cpath data-name='%ed%8c%a8%ec%8a%a4 99714' d='m13.433 12.37 5.931-5.924a.761.761 0 0 0 .007-1.067.742.742 0 0 0-1.056-.007l-5.945 5.937-5.944-5.937a.741.741 0 0 0-1.056.007.761.761 0 0 0 .006 1.067l5.932 5.924-5.931 5.924a.761.761 0 0 0-.007 1.067.74.74 0 0 0 1.056.007l5.944-5.936 5.944 5.936a.74.74 0 0 0 1.056-.007.761.761 0 0 0-.006-1.067Z' fill='white'/%3e%3c/svg%3e") no-repeat center; background-size: 100%;}
.pf_visit__update_list_container{position: relative; width: 100%; height: auto; padding: 16px 10px; box-sizing: border-box; background-color: #ECF3FF;}
.pf_visit__update_list{position: relative; display: flex; align-items: center;}
.pf_visit__update_list_hr_wrap{padding: 0 64px; margin: 10px 0;}
.pf_visit__update_list_hr{width: auto; height: 1px; background-color: #D4D4D4;}
.pf_visit__update_list_ico_wrap{width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; margin-right: 8px; background-color: #FFFFFF; border: 1px solid transparent; border-color: #E1E1E1; box-sizing: border-box; border-radius: 50%;}
.pf_visit__update_list_ico{width: 46px; height: 46px;}
.pf_visit__update_list_content_tit{display: flex; align-items: center; font-size: 13px; font-weight: 700; color: #202020;}
.pf_visit__update_list_content_tit_badge{display: flex; align-items: center; justify-content: center;  width: 50px; height: 18px; margin-left: 2px; border: 1px solid transparent; border-radius: 4px; box-sizing: border-box; line-height: 16px; font-size: 12px; color: #FFFFFF;}
.pf_visit__update_list_content_tit_badge-new{border-color: #F2324C; background-color: #FF6262;}
.pf_visit__update_list_content_tit_badge-add{border-color: #2566FC; background-color: #5689FF;}
.pf_visit__update_list_content_time{display: flex; align-items: center; margin-top: 4px; font-size: 12px; color: #707070;}
.pf_visit__update_list_content_time_ico{position: relative; top:1px; display: block; width: 13px; height: 13px; background: url("https://image.yeoboya.com/imgs/new_wedding/renewal/img_sublist/ico_sublist_time.png") no-repeat center; background-size: 100%; margin-right: 3px;}
.pf_visit__update_list_btn{display: flex; align-items: center; justify-content: center; margin-left: auto; width: 60px; height: 28px; border: 1px solid transparent; border-color: #FF5656; background-color: #FFFFFF; box-sizing: border-box; border-radius: 3px; line-height: 26px; text-align: center; font-size: 13px; color: #FF5656;}



/* AI분석리스트 */
.visit_li-ai {background:#E6EDFF;}
.visit_li-ai .visit_header{background:#3654AE;}
.visit_li-ai .visit_header .visit_tit .visit_num{color:#FFD81B;}
.visit_li-ai .day_txt .day{background:#E6EDFF;}
.visit_li-basic {background:#E9E9E9;}
.visit_li-basic .visit_header{background:#666666;}
.visit_li-basic .visit_header .visit_tit .visit_num{color:#FFD81B;}
.visit_li-basic .day_txt .day{background:#E9E9E9;}
/* AI분석 상세리스트 스코어 뱃지 */
.visit_li__ai_score {width:56px; height:22px; line-height:22px; border-radius:4px; font-size:14px; font-weight:bold; color:#fff; text-shadow: 0 1px 2px rgba(0, 0, 0, .16); text-align: center;}
.visit_li__ai_score-yellow {background:linear-gradient(#FFE11A, #FFA54B);}
.visit_li__ai_score-blue {background:linear-gradient(#0DBCE9, #0C80EE);}
.visit_li__ai_score-green {background:linear-gradient(#45E966, #30BC39);}
.visit_li__ai_score-pink {background:linear-gradient(#FF72A2, #EC004F);}
.visit_li__ai_score_txt {color:#F32F71;}
/* #7283 새로운 프로필열람 체크 아이콘 추가 */
.tab_li_new_chk_pr84 {position:absolute; bottom:9px; left:50%; transform:translateX(-50%); padding-right:84px; width:18px; height:16px;} 
.tab_li_new_chk_pr88 {position:absolute; bottom:9px; left:50%; transform:translateX(-50%); padding-right:88px; width:18px; height:16px;}
.tab_li_new_chk_pr93 {position:absolute; bottom:10px; left:50%; transform:translateX(-50%); padding-right:93px; width:18px; height:16px;}
.tab_li_new_chk_pr97 {position:absolute; bottom:10px; left:50%; transform:translateX(-50%); padding-right:97px; width:18px; height:16px;}

.tab_li_new_chk {display:inline-block; width:18px; height:16px;  background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 32'%3e%3cpath fill='%23FF1A23' d='M5.31 15.386c1.15.21 2.18.85 2.86 1.79.83 1.44 4.52 6.52 4.98 6.98s.86.92 1.35 0c2.4-4.09 5.1-8.01 8.06-11.71 3.24-3.71 6.72-7.2 10.43-10.44 0 0-9.23 14.31-10.61 16.61s-5.08 10.15-6.92 11.08c-1.42.79-3.2.39-4.15-.92-.46-.92-8.31-10.61-8.31-11.08s0-1.85 2.31-2.31z'/%3e%3c/svg%3e") no-repeat center; background-size:100%;}

/* 리스트 컬러 */
.sub_man .nickname{color:#427fcf;}
.sub_man .age{color:#427fcf;}
.sub_woman .nickname{color:#ff5777;}
.sub_woman .age{color:#ff5777;}

/* 체크박스가 있을때 */
.chk_exist .photo_box{left:23px;}
.chk_exist .txt_box{padding-left:79px;}

/******************** 신규가입회원 ********************/
/* 안내 */
.new_notice{position:relative; width:100%; height:auto; line-height:20px; margin-bottom:80px; padding:8px 0; background:#515765; color:#acafb6; text-align:center;}
.new_notice .fc_distance{color:#e0ff75; font-size:12px;}
.new_notice .fc_white{color:#fff; font-weight:700;}

/***** 일감 4204 신규가입회원 문구 추가 *****/
p.sub_describe {padding-top:5px;}
p.sub_describe span {display:inline-block; border:1px solid #bbb; padding:0 4px; margin-right:2px;}
p.sub_describe span img {width:14px; height:auto; padding-right:2px; margin-bottom:-2px;}

/* 배우자 희망 지역 */
.new_top_box{position:absolute; top:78px; right:0; left:0; z-index:100; width:100%; height:auto; padding-right:75px; border-bottom:1px solid #e0e0e0; box-sizing:border-box; background:#f5f5f5;}
.new_top_box .new_region{position:relative; width:100%; padding:8px 10px; box-sizing:border-box;}
.new_top_box .new_region .new_region_tit{width:100%; line-height:20px; font-weight:700; text-align:center;}
.new_top_box .new_region .btn_new_region{display:block; position:relative; width:100%; height:36px; line-height:34px; margin-top:3px; padding:0 40px 0 5px; border:1px solid #c0c0c0; outline:none; border-radius:3px; box-sizing:border-box; background:#fff; box-shadow:none; color:#b80a0e; font-size:13px; letter-spacing:-1px; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.new_top_box .new_region .img_region_slct{position:absolute; top:0; right:0; width:35px; height:100%; background:#f0f0f0; text-align:center;}
.new_top_box .new_region .img_region_slct img{vertical-align:top; width:7px; height:5px; margin-top:13px;}
.new_top_box .btn_yby_ad{position:absolute; top:50%; right:0; z-index:10; width:73px; height:75px; margin-top:-37px; border:none; outline:none; background:transparent; box-shadow:none;}
.new_top_box .btn_yby_ad img{width:73px; height:75px;}

/***** 일감 #4354 신규가입알림 전체보기 버튼 추가 *****/
.new_top_box.newmb__wrap {display:flex;}
.new_top_box.newmb__wrap .new_region {width:calc(100% - 68px); }
.new_top_box.newmb__wrap .newmb__all {width:81px; height:80px; line-height:81px; vertical-align:middle; position:relative; margin-left:2px;}
.new_top_box.newmb__wrap .newmb__all button {width:55px; height:50px; line-height:14px; font-size:13px; text-align:center; letter-spacing:0; border-radius:5px; background:#fff; color:#707070; border:1px solid #aaa;}
.new_top_box.newmb__wrap .newmb__all.bt_on button {background:#db5940; color:#fff; border:1px solid #db5940; font-weight:400;}
.newmb__all .new_badge{position:absolute; top:10px; left:-5px; width:19px; height:19px; line-height:19px; border-radius:50%; background:#db5940; color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.2); font-size:12px; font-weight:700; text-align:center;}
.new_top_box.newmb__wrap .newmb__all.bt_on button ~ .new_badge {background:#fff; color:#db5940; border:1px solid #db5940;}
/* 일감 #4354 토스트메세지 */
.newmb_toast{display:block; position:fixed; bottom:70px; width:100%; z-index:800;}
.newmb_toast .toast_txt{width:300px; height:50px; line-height:49px; border-radius:8px; background:rgba(0,0,0,0.8); margin:0 auto; color:#fff; text-align:center; font-size:15px; font-weight:400; box-sizing:border-box; -webkit-animation-duration: 1.3s; animation-duration: 1.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}
.newmb_toast .toast_txt span{color:#ff8f71; font-weight:500;}
.newmb_toast .toast_txt span.colorL {color:#f8c66f;}


/* 버튼 */
.day_li .list_right_box .btn_new_like{width:56px; height:44px; line-height:14px; padding:7px 0; border:1px solid #d0d0d0; outline:none; border-radius:5px; box-sizing:border-box; background:#fff; box-shadow:none; color:#db5940; font-size:0.72rem; letter-spacing:-1px;}
.day_li .list_right_box .btn_new_like:active{background:#f8f8f8;}
.day_li .list_right_box .btn_new_contact{width:50px; height:44px; line-height:14px; margin-left:4px; padding:8px 0; outline:none; border-radius:5px; box-sizing:border-box; background:#483334; box-shadow:none; color:#fff; font-size:0.72rem; letter-spacing:-1px;}
.day_li .list_right_box .btn_new_contact:active{background:#352526;}
.day_li .list_right_box .btn_new_like img, .list_right_box .btn_new_contact img{width:13px; height:13px;}
@media screen and (min-width:760px){
    .day_li .list_right_box .btn_new_like{width:56px;}
    .day_li .list_right_box .btn_new_contact{width:56px;}
}

/*---------- 음성 영상톡 ----------*/
.voice_tab_layout{padding-top:50px; padding-bottom:10px;}
.voice_info_txt{position:relative; width:100%; height:auto; margin-left: 8px; font-size:13px; letter-spacing:-1px; color:#303030;}
.voice_info_txt .only_fm{font-size:12px; color:#6d6d6d;}
.talk__tooltip{position: absolute; top:23%; right: 16px; width: 24px; height: 24px; border-radius: 12px; background: #704E31; color: white; font-size: 16px; text-align: center; line-height: 23px; cursor: pointer; box-shadow: 1px 1px 1px rgb(0, 0, 0, .4);}
/* #5660 음성 영상톡 안내 모달 */
.talk__pop_modal{background: rgba(0, 0, 0, 0.7);width: 100%;height: 100%;position: absolute;top:0;left: 0; z-index: -1;}
.talk__pop_cls_btn {position: absolute;top: 0;right: 0;width: 40px;height: 46px;background: url("http://image.yeoboya.com/imgs/new_wedding/new_jsp/pop/btn_pop_cls.png") no-repeat center;background-size: 20px;}
.talk__pop {width: 340px;background: white;border-radius: 20px;overflow: hidden;}
.talk__pop_header{position: relative;background: #715BCF url("http://image.yeoboya.com/imgs/new_wedding/mobile/video_meet/bg_pop_vtalk.png") center no-repeat;background-size: 320px;text-align: center;}
.talk__pop_txt_wrap{padding: 8px 0 8px 45px;background: url("http://image.yeoboya.com/imgs/new_wedding/mobile/video_meet/ico_videotalk-purple.png") 0 center no-repeat;background-size: 35px;}
.talk__pop_header_txt{font-size: 18px;line-height: 50px;color: white;}
.talk__pop_header_txt-voice{color: #FE81AC;font-weight: bold;}
.talk__pop_header_txt-video{color: #CB9EFF;font-weight: bold;}
.talk__pop_guide{padding: 16px 8px 16px 32px;}
.talk__pop_guide_txt{position: relative;font-size: 13px;line-height: 22px;margin-bottom: 8px;z-index: 10;}
.talk__pop_guide_txt::before {content: "";position: absolute;top:7px;left: -18px;width:8px;height: 8px;background: #DBE1FF;border-radius: 4px;}
.talk__pop_guide_txt-deco{position: relative;font-weight: bold;}
.talk__pop_guide_txt-deco::before{content: "";position: absolute;bottom: 0;left: 0;border-bottom: 5px solid #455fe23a;width: 100%;height: 5px;z-index: 4;}


/* 음성맞선 잔여시간 */
.remain_time{padding-left:18px; background: url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_meet_time.png") no-repeat left center; background-size:14px 14px;}
.remain_time .time{margin-left:6px; padding-left:6px; background: url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/bullet_bar02.png") no-repeat left 6px; background-size:1px 10px; font-weight:700; color:#9174E8; vertical-align: middle;}
.meet_top_box{position:relative; width:100%; height:auto; line-height:42px; padding:0 10px; border-bottom:2px solid #E0E0E0; box-sizing:border-box; background:#fff;}
.meet_top_box .meet_btn_box{position:absolute; top:50%; right:10px; height:28px; margin-top:-14px;}
.meet_top_box .meet_btn_box .btn_gray{vertical-align:top; position:relative; height:100%; line-height:26px; margin-right:3px; padding:0 10px; border:1px solid #d0d0d0; outline:none; border-radius:3px; box-sizing:border-box; background:#f8f8f8; box-shadow:none; color:#303030; font-size:13px;}
.meet_top_box .meet_btn_box .btn_gray:last-of-type{margin-right:0;}
.meet_top_box .meet_btn_box .btn_gray:active{background:#f0f0f0;}
.meet_top_box .meet_btn_box .btn_yellow{vertical-align:top; position:relative; height:100%; line-height:26px; margin-right:2px; padding:0 10px; outline:none; border-radius:3px; box-sizing:border-box; background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#fff400),color-stop(1,#ffce00)); background:-moz-linear-gradient(top,#fff400 5%,#ffce00 100%); background: -webkit-linear-gradient(top,#fff400 5%,#ffce00 100%); background:-o-linear-gradient(top,#fff400 5%,#ffce00 100%); background: -ms-linear-gradient(top,#fff400 5%,#ffce00 100%); background:linear-gradient(to bottom,#fff400 5%,#ffce00 100%); background-color:#fff400; border:1px solid #f1b83a; box-shadow:none; color:#443636; font-size:13px; font-weight:700; letter-spacing:-1px;}
/* 음성맞선 리스트 필터 */
.voice_fltr_lst{display:block; padding-left: 10px; box-sizing:border-box;}
.voice_fltr_lst:after{display:block; content:""; clear:both;}
.voice_fltr_lst .txt{display:inline-block; width:auto; height:28px; padding:0 24px 0 8px; border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8 url("https://image.yeoboya.com/imgs/new_wedding/renewal/ico_new_drop.png") no-repeat right 10px center; background-size:7px 5px; font-size:13px; line-height:26px; color:#303030;}
.voice_fltr_lst .num{padding-left:2px; font-weight:700; color:#9174e8;}
.voice_fltr_lst .small_chk_box{float:left;}
.voice_fltr_lst .small_chk_box .chk_lb{height:28px;}
.voice_fltr_lst .btn_slct_del{float:left; height:28px; line-height:26px; padding:0 10px; border:1px solid #d0d0d0; outline:none; border-radius:3px; box-sizing:border-box; background:#f8f8f8; box-shadow:none; color:#303030; font-size:13px;}
.voice_fltr_lst .btn_slct_del:active{background:#f8f8f8;}
/* # 5660 음성톡 on/off 스위치 */
.talk__swch {position:relative; display: flex; justify-content: flex-end; padding: 10px 10px 0 0;}
.talk__swch_name {margin-right: 10px; font-weight: bold; font-size: 13px; color: #BBBBBB; padding-top: 3px;}
.talk__swch_input{position:absolute; top:0; left:0; z-index:10; width:100%; height:100%; opacity:0; border:0; outline:0; background-color:transparent; cursor:pointer;}
.talk__swch_lb{display:block; position:relative; width:55px; height:25px; padding:0; border-radius:17px; background-color:#c6c6c6; color:#fff; font-size:12px; transition:background-color 0.2s ease-out; cursor:pointer; -webkit-tap-highlight-color:rgba(255,255,255,0);}
.talk__swch_handle{display:inline-block;position:absolute;top:2px;left:2px;width:22px;height:22px;background:url("https://image.yeoboya.com/imgs/new_wedding/mobile/secret/ico_secret_handle.png") no-repeat center center;background-size:22px 22px;transition:left 0.2s ease-out;}
.talk__swch_on,.talk__swch_off{display:inline-block; position:absolute; top:6px; width:auto; height:13px; line-height:13px; transition:opacity .2s ease-out;}
.talk__swch_on{left:8px; opacity:0;}
.talk__swch_off{right:7px; opacity:1;}
.talk__swch_input:checked + .talk__swch_lb{background-color:#704e31;}
.talk__swch_input:checked + .talk__swch_lb .talk__swch_handle{left:32px;}
.talk__swch_input:checked + .talk__swch_lb .talk__swch_on{opacity:1;}
.talk__swch_input:checked + .talk__swch_lb .talk__swch_off{opacity:0;}
/* 음성맞선리스트 수발신 표시 */
.voice_meet_type .txt_box{padding-left:79px;}
.day_li .txt_pre_accept{padding-right:68px;}
.voice_meet_type .photo_box{left:23px;}
.day_li .ico_type{position:absolute; width:18px; height:18px; top:50%; left:0; z-index:10; margin-top:-10px;}
.day_li .ico_type .ico_arrow{display:block; width:18px; height:18px;}
/* 음성맞선 아이콘 */
.meet_time{padding-left:18px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_meet_time.png") no-repeat left center; background-size:14px 14px; font-size:13px; color:#707070;}
.meet_time_p{padding-left:18px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_meet_time_p.png") no-repeat left center; background-size:14px 14px; font-size:13px; color:#9174E8;}
.meet_not_connect{padding-left:18px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_no_connect.png") no-repeat left center; background-size:14px 14px; font-size:13px; color:#707070;}
.meet_absensce{padding-left:18px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_absensce.png") no-repeat left center; background-size:14px 14px; font-size:13px; color:#707070;}
/* 음성맞선 대기 */
.day_li .list_right_box .table_box .waiting_num{position:relative; display:inline-block; vertical-align:-0.5px;}
.day_li .list_right_box .table_box .waiting_num img{width:56px;}
/* 음성맞선 검색회원텍스트 */
.srch_voice_meet{color:#707070;}
/* 음성맞선 상세내역 */
.day_li .txt_line .btn_detail{display:inline-block; width:auto; height:28px; text-align:left;}
.day_li .txt_line .btn_detail .box{display:inline-block; height:100%; line-height:28px; padding:0 4px 0 12px; border:none; border-radius:3px; box-sizing:border-box; background:#FE81AC; color:#fff; font-size:13px;}
.day_li .txt_line .btn_detail .box .detail_num{color:#fced94; margin:0 8px 0 5px;}
.detail_drop{float:right; position:relative; width:20px; height:28px;}
.pf_detail_drop{float:right; position:relative; width:20px; height:28px;}
.detail_drop .arrow{position:absolute; left:0;}
.detail_drop .arrow_drop{opacity:0; top:54%;}
.detail_drop .arrow_fold{top:50%;}
.detail_drop .arrow_f_ani{animation:arrow-movement 2s ease-in-out infinite;}
.detail_drop .arrow_s_ani{animation:arrow-movement 2s 1s ease-in-out infinite;}
.detail_drop .arrow:before, .detail_drop .arrow:after{background:#fff; content:''; display:block; height:2px; position:absolute; top:0; left:0; width:10px;}
.detail_drop .arrow_drop:before{transform:rotate(42deg) translateX(-17%); transform-origin:top left;}
.detail_drop .arrow_drop:after{transform:rotate(-42deg) translateX(18%); transform-origin: top right;}
.detail_drop .arrow_fold:before{transform:rotate(-42deg) translateX(-32%); transform-origin:top left;}
.detail_drop .arrow_fold:after{transform:rotate(40deg) translateX(32%); transform-origin: top right;}
@keyframes arrow-movement{
    0%{opacity:0; top:20%;}
    70%{opacity:1;}
    100%{opacity:0;}
}
@media screen and (max-width:321px){
    .pf_detail_drop{float:right; position:relative; width:0px; height:0px;}
}
/* 상세내역리스트 */
.detail_li{position:relative; width:100%; height:auto; background:#FFECF2; padding-bottom:8px; margin-bottom:5px; margin-top:-10px;}
.detail_li .detail_header{position:relative; width:100%; height:auto; background:#FE81AC; margin-bottom:5px;}
.detail_li .detail_header .detail_tit{position:relative; width:100%; height:34px; padding:0 10px; box-sizing:border-box;}
.detail_li .detail_header .detail_tit .btn_call{float:left; width:auto; height:24px; margin:5px 0; padding:0 11px; background:rgba(0,0,0,0.48); border-radius:24px; line-height:24px; font-size:13px; color:#fff;}
.detail_li .detail_header .detail_tit .btn_call:active{background:rgba(0,0,0,0.53);}
.detail_li .detail_header .detail_tit .btn_call .meet_ico{padding-left:21px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_meet_heart.png") no-repeat left center; background-size:17px 14px;}
.day_li .txt_line .btn_block{display:inline-block; width:auto; height:28px; margin:5px 0 5px 5px;}
.day_li .txt_line .btn_block .box{display:block; position:relative; width:auto; height:28px; padding:0 8px; background:#fff; border:1px solid #efd0db; border-radius:3px; line-height:28px; font-size:13px; color:#FE81AC;}
.day_li .txt_line .btn_block .box:active{background:#fff2f6;}
.day_li .txt_line .btn_block .box .block_ico{padding-left:16px; background:url("http://image.yeoboya.com/imgs/new_wedding/mobile/voice_meet/ico_mem_block2.png") no-repeat left center; background-size:12px 12px;}
.detail_li .detail_header .detail_clse{position:absolute; top:0; right:0; bottom:0; width:50px; height:100%; border:none; outline:none; background:url("https://image.yeoboya.com/imgs/new_wedding/mobile/img/clse_list.png") no-repeat right 10px center; background-size:14px 14px; box-shadow:none;}
.detail_li .day_txt .day{background:#FFECF2;}
.detail_li .meet_li{position:relative; width:100%; height:auto; padding:8px 0;}
.detail_li .meet_li .photo_box{position:absolute; top:10px; left:10px; width:50px; height:50px; border:1px solid #d0d0d0; background:#f8f8f8; border-radius:50%; box-sizing:border-box; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.detail_li .meet_li .photo_box img{width:100%; height:100%; border-radius:50%; object-fit:cover;}
.detail_li .meet_li .photo_box .photo_num{display:inline-block; position:absolute; top:-2px; right:-2px; width:16px; height:16px; line-height:16px; border-radius:50%; background:#29bf00; color:#fff; font-size:12px; font-weight:700; text-align:center;}
.detail_li .meet_li .badge_new, .detail_li .meet_li .badge_re{position:absolute; bottom:-8px; left:10px;}
.detail_li .meet_li .meet_info{position:relative; width:100%; height:auto; padding:14px 10px 0 70px; box-sizing:border-box;}
.detail_li .meet_li .meet_info .meet_bubble{display:inline-block; width:130px; height:40px; border-radius:0 15px 15px 15px; background:#fff; line-height:40px;}
.detail_li .meet_li .meet_info .meet_bubble .ico_receive{float:left; width:14px; height:40px; margin:0 8px; background:url("http://image.yeoboya.com/imgs/new_wedding/renewal/ico_arrow_come.png") no-repeat left center; background-size:14px 14px;}
.detail_li .meet_li .meet_info .meet_bubble .ico_send{float:left; width:14px; height:40px; margin:0 8px; background:url("http://image.yeoboya.com/imgs/new_wedding/renewal/ico_arrow_send.png") no-repeat left center; background-size:14px 14px;}
.detail_li .meet_li .meet_info .bubble_time{display:inline-block; padding-left:4px; font-size:12px; color:#9C9C9C;}
/* 음성맞선 수락버튼 */
.btn_meet_accept{display:block; width:58px; height:28px; line-height:26px; padding:0 5px; border-radius:3px; box-sizing:border-box; background:#9174E8; color:#fff; font-size:13px;}
.btn_meet_accept:active{background:#8369d2;}
/* 음성맞선 요청버튼 */
.btn_meet_request{display:inline-block; width:50px; height:44px; line-height:16px; padding:0 5px; border-radius:3px; box-sizing:border-box; background:#FE81AC; color:#fff; font-size:13px;}
.btn_meet_request:active{background:#f578a3;}
/* 음성맞선 차단해제버튼 */
.btn_release_b{display:inline-block; width:50px; height:44px; line-height:16px; padding:0 5px;  border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8; color:#303030; font-size:13px;}
.btn_release_b:active{background:#f0f0f0;}
.btn_release{display:inline-block; width:50px; height:44px; line-height:16px; padding:0 5px; border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8; color:#303030; font-size:13px;}
.btn_release:active{background:#f0f0f0;}
/* 음성맞선 필터레이어 */
.voice_meet_fltr{position:relative; width:240px; height:auto;}
.voice_meet_fltr ul{position:relative; width:100%; height:auto; border-radius:6px;}
.voice_meet_fltr ul li{position:relative; width:100%; height:50px; border-bottom:1px solid #ddd;}
.voice_meet_fltr ul li:last-of-type{border-bottom:none;}
.voice_meet_fltr ul li a{display:block; width:100%; height:100%; padding-left:24px; box-sizing:border-box; background:#fff; font-size:15px; line-height:50px; color:#303030;}
.voice_meet_fltr ul li a.checked{background:#f4edff;}
.voice_meet_fltr ul li:first-of-type a{border-radius:10px 10px 0 0;}
.voice_meet_fltr ul li:last-of-type a{border-radius:0 0 10px 10px;}
.voice_meet_fltr ul li a .num{padding-left:8px; font-weight:700; color:#9174E8;}
/* 음성맞선 신청취소버튼 */
.btn_meet_cancel01{display:block; width:58px; height:28px; margin-top:3px; line-height:26px; padding:0 5px; border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8; color:#6b6b6b; font-size:13px;}
.btn_meet_cancel01:active{background:#f0f0f0;}
.btn_meet_cancel02{display:block; width:50px; height:44px; line-height:16px; padding:0 5px; border:1px solid #d0d0d0; border-radius:3px; box-sizing:border-box; background:#f8f8f8; color:#6b6b6b; font-size:13px;}
.btn_meet_cancel02:active{background:#f0f0f0;}



/*** 일감 #3964 만나고싶어요 ***/
/* 나를 만나고 싶은 회원 탭 */
.meet_tab_wrap{position:relative; height:auto; margin:10px;}
.meet_tab_wrap:after{content:""; display:block; clear:both;}
.meet_tab_wrap .tab_li{float:left; position:relative; width:33.33333%; height:auto;}
.meet_tab_wrap .tab_li a{display:block; width:100%; height:32px; line-height:30px; border-top:1px solid #735455; border-left:1px solid #735455; border-bottom:1px solid #735455; box-sizing:border-box; background:#fff; color:#735455; font-size:13px; font-weight:700; letter-spacing:-1px; text-align:center;}
.meet_tab_wrap .tab_li:nth-of-type(1) a{border-radius:15px 0 0 15px;}
.meet_tab_wrap .tab_li:nth-of-type(3) a{border-right:1px solid #735455; border-radius:0 15px 15px 0;}
.meet_tab_wrap .tab_li .tab_on{background:#735455 ; color:#fff;}
.meet_tab_wrap .tab_li .badge{position:absolute; top:4px; left:50%; z-index:10; width:30px; height:14px; line-height:14px; margin-left:30px; background:#8e9094; color:#fff; font-size:12px; font-weight:700; text-align:center; border-top-left-radius:100%;  border-top-right-radius:50%;  border-bottom-right-radius:100%; border-bottom-left-radius:50%; transform:rotate(-4deg) translateY(-50%);}
.meet_tab_wrap .tab_li:nth-of-type(3) .badge{margin-left:12px;}
.meet_tab_wrap .tab_li .tab_on .badge{background:#ff5252; color:#fff;}
.meet_tab_wrap .tab_li .badge .txt_rot{transform:rotate(4deg);}

.icon_tab_layout.meet_want__wrap {padding-top:0;}
.want_meet__describe {background:#f6f3f1; text-align:center; border-bottom:1px solid #e1d1c9;}
.want_meet__describe p {padding:10px; color:#483334; font-size:13px; letter-spacing:-1px;}
.meet_want__wrap .day_li .photo_box{position:absolute; top:50%; transform:translateY(-50%); left:23px; width:50px; height:50px; margin-top:0; border:2px solid #d4d4d4; background:#f8f8f8; border-radius:50%; box-sizing:border-box; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.meet_want__wrap .txt_box_wrap {margin-left:80px; margin-right:50px; padding:15px 0;}
.meet_want__wrap .day_li .txt_box_wrap .txt_box{min-height:0; padding:0;}
.meet_want__wrap .day_li .txt_box_wrap .phone_box{padding:10px 0 0 0;}

.meet_want__select {display:inline-block; height:30px; line-height:29px; padding:0 30px 0 10px; border:1px solid #e1d1c9; margin:15px 0 10px 15px; text-align:center; background:url("https://image.yeoboya.com/imgs/new_wedding/renewal/ico_new_drop.png") no-repeat right 10px center; background-size:9px auto; border-radius:5px;}
.meet_want__select:active {background-color:#f6f3f1;}
.meet_want__select-title {font-size:13px; letter-spacing:-1px;}
.meet_want__select-number {color:#ff7b71; padding-left:2px; font-weight:600;}
.meet_want__ico-arrow {position:absolute; top:50%; transform:translateY(-50%);}
.meet_want__ico-arrow .ico_arrow{vertical-align:-0.15rem; width:17px; height:17px; margin-right:4px;}


/*** 일감 #3964 만나고싶어요 팝업형 메뉴 선택창 ***/
.meet_want__darkpop {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:100; display:none;}
.meet_want__darkpop .meet_want__menulist {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); background:#fff; border-radius:15px; width:240px; display:flex; flex-direction: column; box-shadow:1px 1px 5px #483334;}
.meet_want__darkpop .meet_want__menulist li {width:100%; height:50px; line-height:50px; border-bottom:1px solid #ebdcd6; color:#483334;}
.meet_want__darkpop .meet_want__menulist li.meet_want__radius_bot {border-bottom:0;}
.meet_want__darkpop .meet_want__menulist li a {padding:0 24px; height:100%; font-size:15px; letter-spacing:-1px;}
.meet_want__darkpop .meet_want__menulist li a:active {background:#ffede9;}
.meet_want__darkpop .meet_want__menulist li a.checked {background:#ffede9;}
.meet_want__darkpop .meet_want__menulist span {padding-left:8px;}
.meet_want__darkpop .meet_want__menulist .meet_want__radius_top a {border-radius:15px 15px 0 0;}
.meet_want__darkpop .meet_want__menulist .meet_want__radius_bot a {border-radius:0 0 15px 15px;}

/* 리스트 내 기간 문구 */
.day_list_info_wrap {display: flex; align-items: center; justify-content: center; width: 100%;}
.day_list_info{margin:8px 0; text-align: center; font-size: 12px; color: #707070;}
.day_list_info_ico {width: 16px; height: 16px; margin-right:4px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 16 16'%3e%3cg fill='%23707070'%3e%3cpath d='M8 15c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7M8 2C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6'/%3e%3cpath d='M8 4.3c.4 0 .8.4.8.8s-.4.8-.8.8-.8-.4-.8-.8.4-.8.8-.8M8 6.8c.4 0 .7.3.7.7v3.9c0 .4-.4.7-.7.7-.4 0-.7-.3-.7-.7V7.5c0-.4.3-.7.7-.7'/%3e%3c/g%3e%3c/svg%3e") center no-repeat; background-size:16px 16px;}


@media (min-width:460px) {
    .pc__bg .message_layout .all_chk_box{left:50%; width:460px; margin-left:-230px;}
    .pc__bg .icon_tab_wrap{left:50%; width:460px; margin-left:-230px;}
}
