@charset "utf-8";
/*---------------------------------------------
	파일명 : __main.css
	설　명 : 메인리스트
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/
.main{position: relative; min-height: calc(100vh - 50px); background: #E9F3FF;}
.main__container{padding: 8px 8px 16px;}
.main__card_wrap{display: flex; flex-direction: column; gap: 6px;}
.main__card{position: relative; z-index: 1; cursor: pointer;}
.main__card_box{width: 100%; height: 100%; padding: 12px; border: 1px solid #D8DFF3; border-radius: 8px; box-sizing: border-box; background-color: #ffffff;}
.main__card_prf{position: relative;} 
.main__card_prf_basic{display: flex; align-items: flex-start;}
.main__autoup_bdg{width: 50px; height: 20px; border: 1px solid #EA3C3C;  border-radius: 10px; box-sizing: border-box; background-color: #FFF54F; text-align: center; line-height: 19px; font-size: 12px; color: #303030;}
.main__latest_bdg{min-width: 42px; padding: 0 4px; border: 1px solid #AFC3FF;  border-radius: 10px; box-sizing: border-box; background-color: #EFF3FF; text-align: center; line-height: 18px; font-size: 12px; color: #5173DC; white-space: nowrap;}
.main__card_info_wrap{display: flex; flex-direction: column; gap: 4px; margin-left: 8px; overflow: hidden;}
.main__card_info{display: flex;  align-items: center;}
.main__card_name{margin-left: 4px; font-size: 17px; font-weight: 700; color: var(--primary-300);}
.main__card_item{position: absolute; top: 15px; right: 12px; display: flex; align-items: center;}
.main__info_txt{font-size: 14px;}
.main__info_txt::after{content: "";display: inline-block; width: 1px; height: 10px; margin: 0 4px; background-color: #D4D4D4;}
.main__info_txt:last-of-type::after{display: none;}
.main__info_ico_wrap{display: flex; align-items: center;}
.main__info_flag{width: auto; height: 14px; margin-right: 2px; border: 1px solid #909090; box-sizing: border-box;}
.main__info_ico_loc{flex: none; width: 16px; height: 16px; background: url("https://image.yeoboya.com/imgs/new_wedding/mobile/ico/ico_main_loc.png") no-repeat center; background-size: 100% auto;}
.main__info_bdg{flex: none; display: -webkit-box; width: fit-content; height: 22px; padding: 1px 2px 2px; margin-right: 6px; border-radius: 4px; box-sizing: border-box; background-color: #F1F1F1; text-align: center; line-height: 20px; font-size: 13px; color: #707070; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; word-break: break-all;} 
.main__card_prf_txt{display: -webkit-box; margin-top: 12px; line-height: 26px; font-size: 16px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
.main__card_reg_bdg{display: inline-block; width: 47px; height: 20px; margin-right: 4px; border: 1px solid #EF4F4F; border-radius: 4px; box-sizing: border-box; text-align: center; line-height: 19px; font-size: 12px; color: #EF4F4F;}
.main__card_reg_bdg-woman{border-color: #427FCF; color: #427FCF;}
/* 내 프로필 */
.main__my_up{position: absolute; z-index: -1; top: -31px; display: flex; justify-content: center; align-items: flex-start; width: 100%; height: 44px; padding-top: 4px; border-radius: 8px 8px 0 0; box-sizing: border-box; background-color: #D8DFF3;}
.main__my_up_btn{width: 99px; height: 24px; display: flex; justify-content: center; align-items: center; padding: 2px 12px 3px; border: 1px solid #91A2D5; border-radius: 6px; box-sizing: border-box; background-color: #ffffff; cursor: pointer;}
.main__my_up_btn_ico{flex: none; width: 16px; height: 16px; background: url("https://image.yeoboya.com/imgs/new_wedding/mobile/img/ico_main_list_up.png") no-repeat center; background-size: 100% auto;}
.main__my_up_btn_txt{margin-left: 2px; font-size: 13px; color: var(--primary-500); white-space: nowrap;}

/* 관리자 계정 접속시 하단 UI */
.main__admin{position: relative; display: flex; align-items: center; width: 100%; height: 20px; margin-top: 12px;}
.main__admin_btn{flex: none; margin-right: 6px; font-size: 14px; font-weight: 700; color: #000000;}
.main__admin_btn-family{flex:auto; width: 39%; margin-right: 2px; background-color: #cefbc9;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main__admin_time{flex: none; width: 42px;height: 20px; margin-left: auto; line-height: 20px;background: #09f;color: #fff;text-align: center;font-size: 13px;}

.main__bot_btn_wrap{padding:0 8px 24px}
.main__bot_btn_tit{font-size: 13px; color: #7C839E; text-align: center;}
.main__bot_btn{display: flex; align-items: center; justify-content: center; height: 44px; margin-top: 6px; border: 1px solid #D8DFF3; border-radius: 8px; box-sizing: border-box; background-color: #fff; cursor: pointer;}
.main__bot_btn_txt{color: #3654AE;}
.main__bot_btn_arrow{width: 20px; height: 20px; margin-left: 2px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 20 20'%3e%3cpath fill='%233654AE' d='M5 9c0-.1 0-.2.1-.3.1-.2.4-.3.6-.1l4.2 3.7 4.2-3.7c.2-.2.5-.2.6 0 .2.2.1.6-.1.7l-4.5 3.9c-.2.2-.4.2-.6 0L5.2 9.4C5.1 9.3 5 9.2 5 9'/%3e%3c/svg%3e") no-repeat center; background-size: 100%;}
.main__bot_btn_arrow-right{transform:rotate(-90deg);}

