@charset "utf-8";
/*---------------------------------------------
	파일명 : __pc
	설　명 : 여보야 pc 
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/

@keyframes pcBnrImgAni {
	60%{
		opacity: 1;
		transform: translateX(100px);
	}
	100%{
		opacity: 0;
		transform: translateX(100px);
	}
}
@keyframes pcBnrImgBackAni {
	60%{
		opacity: 1;
		transform: translateX(-100px);
	}
	100%{
		opacity: 0;
		transform: translateX(-100px);
	}
}
@keyframes goodsBgAni {
	0%{background-size: 100% auto;}
	100%{background-size: 110% auto;}
}

/* pc 레이아웃 */
.pc_container{min-width: 980px;}
.pc_top{width: 100%; min-height: 563px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_top_bg.png") center bottom no-repeat; background-size: cover;}
.pc_content{position: relative;}
.pc_section{width: 980px; margin: 0 auto 60px;}
.pc_section-flex{display: flex; justify-content: center; align-items: center;}
.pc_section-flex_between{justify-content: space-between;}
.pc_section-wide{width: 100%;}
.pc_section__line{width: 2px; height: 345px; background-color: #E6E6E6;}
.pc_footer{position: relative;}

/* 해더 */
.pc_header{position: relative; width: 100%; height: 112px;}
.pc_header__container{position: absolute; top: 0; left: 0; width: 100%; transition: animation 1s cubic-bezier(0.25, 1, 0.5, 1);}
.pc_header__container-fixed{position: fixed; top: 0; left: 0; width: 100%; background: #FFF; border-bottom: 2px solid #E6E6E6; z-index: 1; transform: translateY(-100%); animation: slideInDown 0.5s cubic-bezier(0.25, 1, 0.5, 1); animation-fill-mode: forwards;}
.pc_header__wrap{display: flex; align-items: center; width: 980px; margin: 0 auto; padding: 11px 0;}
.pc_header__logo{width: 106px; height: 72px; background: url("https://image.yeoboya.com/imgs/new_wedding_portal/common/ico_header_logo_fix.png") center bottom 6px no-repeat; background-size: 134px auto; cursor: pointer;}

/* 리스트 해더 */
.pc_list_header{position: relative;}
.pc_list_header-flex{display: flex; align-items: center;}
.pc_list_header__tit{font-size: 21px; font-weight: 700; color: #202020;}
.pc_list_header__txt_emp{padding: 0 2px; display: inline-block; background: url("https://image.yeoboya.com/imgs/new_wedding_portal/common/img_txt_highlight.png") bottom center no-repeat; background-size: 100% 16px;}
.pc_list_header__more{margin-left: auto; padding: 4px 14px 4px 4px; font-size: 16px; color: #909090; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23909090' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") right center no-repeat; background-size: 10px auto;}
.pc_list_header__more:hover{color: #707070; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23707070' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") right center no-repeat; background-size: 10px auto;}

/* 내비게이션 */
.pc_nav{margin-left: auto;}
.pc_nav__btn_wrap{display: flex; align-items: center; width: 100%;}
.pc_nav__btn_project{display: inline-block; padding: 2px 10px 2px 38px; margin-left: auto; border: 1px solid #3654AE; border-radius: 4px; background: #FFF url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_marry_pfj.png") left 10px center no-repeat; background-size: 28px 28px; font-size: 14px; font-weight: 700; color: #3654AE; cursor: pointer;}
.pc_nav__btn_project:hover{background-color: #fafafa;}
.pc_nav__btn_login{padding: 8px 8px; margin: 0 16px 0 12px; font-size: 18px; color: #202020; cursor: pointer;}
.pc_nav__menu{display: flex;}
.pc_nav__btn_login:hover{color: #223e92;}
.pc_nav__menu_txt{position: relative; padding: 8px 16px; margin: 0 8px; font-size: 20px; font-weight: 700; color: #202020; cursor: pointer;}
.pc_nav__menu_txt:hover{color: #223e92;}

/* 배너 */
.pc_main_bnr{position: relative; display: flex; width: 100%; margin: 0 auto;}
.pc_main_bnr__container{display: flex; width: 100%; overflow: hidden; transition: opacity 1s ease-out; opacity: 0;}
.pc_main_bnr__container-show{display: block; opacity: 1;}
.pc_main_bnr__wrap{display: flex; width: 100%;}
.pc_main_bnr__slide{flex: 0 0 auto; display: flex; justify-content: center; width: 980px; min-width: 980px;  z-index: 0;}
.pc_main_bnr__landing{position: absolute; top:0; left: 50%; transform: translateX(-50%);}
.pc_main_bnr__exp_wrap{margin-top: 20px;}
.pc_main_bnr__exp_tit_img{width: auto; height: 120px;}
.pc_main_bnr__exp_txt{font-size: 20px; line-height: 26px;}
.pc_main_bnr__slide_inner{min-width: 980px; display: flex; }
.pc_main_bnr__slogan{width: 408px; height: 172px; margin: 100px 50px 0 0; animation: pcBnrImgAni 1.5s ease-out; animation-delay: 1s; animation-fill-mode: forwards;}
.pc_main_bnr__img{width: 437px; height: 377px; margin-left: auto; margin-right: 110px;}
.pc_main_bnr__img-1{width: 534px; height: 416px; margin-right: -40px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_1.png") center no-repeat; background-size: 534px 416px; animation: pcBnrImgBackAni 1.5s ease-out; animation-delay: 1s; animation-fill-mode: forwards; z-index: -1;}
.pc_main_bnr__img-2{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_2.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-3{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_3.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-4{margin-right:0; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_4.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-5{margin-right: 70px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_5.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-6{margin-right: 70px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_6.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-7{ margin-left: -37px; margin-right: 0; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_7.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__img-8{margin-right: 52px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_bnr_7.png") center no-repeat; background-size: 437px 377px;}
.pc_main_bnr__btn_wrap{position: absolute; bottom: 48px; left: 50%; width: 980px; transform: translateX(-50%); transition: opacity 1s ease-out;}
.pc_main_bnr__btn_install{display: flex; justify-content: center; align-items: center; width: 210px; height: 50px; margin: 16px 0 24px;  border: 1px solid #3654AE; border-radius: 8px; background-color: #FFF; color: #3654AE; font-size: 19px; font-weight: 700; box-sizing: border-box;}
.pc_main_bnr__btn_install:hover{background-color: #fafafa;}
.pc_main_bnr__paging{display: flex; align-items: center;}
.pc_main_bnr__pagination{margin: 0 16px; font-size: 19px;}
.pc_main_bnr__pagination_current{font-weight: 700; color: #3654AE;}
.pc_main_bnr__pagination_total{color: #93ABF0;}
.pc_main_bnr__pagination_slash{display: inline-block; width: 6px; height: 16px; margin: 0 4px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%2393ABF0' stroke-width='4' stroke-linecap='round' d='M9 3 3 29'/%3e%3c/svg%3e") center no-repeat; background-size: 6px 16px;}
.pc_main_bnr__next_btn{width: 32px; height: 32px; border-radius: 50%;}
.pc_main_bnr__next_btn-left{background: #93ABF0 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' xml:space='preserve'%3e%3cpath fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m28.9 36.3-8.7-10.9 8.7-10.9'/%3e%3c/svg%3e") center no-repeat; background-size: 25px 25px;}
.pc_main_bnr__next_btn-right{background: #93ABF0 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' xml:space='preserve'%3e%3cpath fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m28.9 36.3-8.7-10.9 8.7-10.9'/%3e%3c/svg%3e") center no-repeat; background-size: 25px 25px; transform: rotate(180deg);}
.pc_main_bnr__next_btn:hover{background-color: #839eee;}

/* 최근 가입자 */
.pc_new_join{position: relative; display: flex; width: 100%; height: 172px; margin: -80px auto 0; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/img_pc_join_bg.png") center no-repeat; background-size: 100% auto;}
.pc_new_join__tit{padding: 28px 0 0 28px; color: #FFF;}
.pc_new_join__swipe{position: relative; margin: 0 25px 0 auto ; padding: 25px 50px;}
.pc_new_join__container{overflow: hidden; width: 646px;}
.pc_new_join__wrapper{display: flex;}
.pc_new_join__slide{flex: none;}
.pc_new_join__tit_cnt{position: relative; font-size: 21px;}
.pc_new_join__tit_cnt::after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #fff;}
.pc_new_join__tit_num{font-size: 31px; font-weight: 700;}
.pc_new_join{position: relative;}
.pc_new_join__card{position: relative; width: 122px; height: 122px; border-radius: 8px;  background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/start/img_local_people_2.png") center no-repeat; background-size: 100% 100%; cursor: pointer; overflow: hidden; z-index: 0;}
.pc_new_join__card-more{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/start/img_local_people_more_2.png") center no-repeat; background-size: 100% 100%;}
.pc_new_join__card_tit{margin: 12px; color: #4169E1; font-size: 16px; z-index: 1;}
.pc_new_join__card_num{font-size: 22px; font-weight: 700;}
.pc_new_join__card_ani{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
.pc_new_join__btn_next{position: absolute; top: 50%; width: 42px; height: 42px; border-radius: 50%; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56' xml:space='preserve'%3e%3cpath fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m34.5 43.5-12-15 12-15'/%3e%3c/svg%3e") center no-repeat; background-size: 28px 28px; transform: translateY(-50%);}
.pc_new_join__btn_next-right{right: 0; transform: translateY(-50%) rotate(180deg);}
.pc_new_join__btn_next-left{left: 0;}
.pc_new_join__btn_next:hover{background-color: rgba(250, 251, 255, 0.1);}

/* NEW 프로필 */
.pc_new_prf{position: relative;}
.pc_new_prf__swipe{position: relative; width: 100%; margin-top: 30px;}
.pc_new_prf__container{position: relative; overflow: hidden; width: 454px;}
.pc_new_prf__wrapper{display: flex;}
.pc_new_prf__slide{display: flex; width: 100%;}
.pc_new_prf__card{flex: none; display: flex; flex-direction: column; width: 216px; min-height: 216px; margin-right: 20px; padding: 20px; border-radius: 8px; border: 2px solid #F1F1F1; background: #F5F7FF; box-sizing: border-box; cursor: pointer;}
.pc_new_prf__card:last-child{margin-right: 0;}
.pc_new_prf__tit{margin-bottom: 8px; font-size: 19px; font-weight: 700; color: #202020;}
.pc_new_prf__txt{margin-bottom: 18px; line-height: 25px; font-size: 18px; font-weight: 400; color: #202020;}
.pc_new_prf__txt_hr{width: 100%; height: 2px; margin: auto 0 15px; background-color: #E1E1E1;}
.pc_new_prf__sub_txt{display: flex; align-items: center; font-size: 18px;}
.pc_new_prf__sub_txt_line{display: inline-block; width: 2px; margin: 0 8px; padding: 8px 0; background-color: #B8B8B8;}
.pc_new_prf__paging{display: flex; justify-content: center; align-items: center; margin-top: 20px; background-color: #FFF;}
.pc_new_prf__next_btn{width: 26px; height: 26px; border-radius: 50%; box-shadow: 0 2px 8px rgba(0, 0, 0, .24);}
.pc_new_prf__next_btn-left{background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m10.1 25.5-8-9.9 8-9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 8px 16px;}
.pc_new_prf__next_btn-right{background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 8px 16px;}
.pc_new_prf__next_btn:hover{background-color: #fafafa;}
.pc_new_prf__pagination{margin: 0 15px; font-size: 15px; line-height: 20px; text-align: center;}
.pc_new_prf__pagination_current{color: #202020; font-family: 700;}
.pc_new_prf__pagination_total{color: #B8B8B8;}
.pc_new_prf__pagination_slash{display: inline-block; width: 8px; height: 12px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 18' xml:space='preserve'%3e%3cpath fill='none' stroke='%23BFBFBF' stroke-width='2.5' stroke-linecap='round' d='M6 2 2 16'/%3e%3c/svg%3e") center no-repeat; background-size: 8px 12px;}

/* Thanks 여보야 */
.pc_thanks{position: relative;}
.pc_thanks__swipe{position: relative;}
.pc_thanks__container{width: 454px; overflow: hidden;}
.pc_thanks__wrapper{display: flex;}
.pc_thanks__slide{display: flex; width: 100%;}
.pc_thanks__card{flex: none; display: flex; flex-direction: column; align-items: flex-start; width: 216px; min-height: 216px; padding: 20px; margin-right: 20px; border-radius: 8px; border: 2px solid #F1F1F1; background: #fff; box-sizing: border-box; cursor: pointer;}
.pc_thanks__card:last-child{margin-right: 0;}
.pc_thanks__txt{margin-bottom: 10px; color: #202020; line-height: 28px; font-size: 18px;}
.pc_thanks__txt_hr{width: 100%; height: 2px; margin: auto 0 13px;  background: #E1E1E1;}
.pc_thanks__prf_txt{position: relative; font-size: 18px;}
.pc_thanks__prf_txt_line{display: inline-block; width: 2px; margin: 0 8px; padding: 8px 0; background-color: #B8B8B8;}
.pc_thanks__prf_name{display: inline-block; position: relative; margin-bottom: 2px; padding-right: 20px; font-size: 18px; font-weight: 700;}
.pc_thanks__prf_name::after{content: "**"; position: absolute; top: 2px; right: 2px;}
.pc_thanks__prf_name-long{padding-right: 30px;}
.pc_thanks__prf_name-long::after{content: "***"; position: absolute; top: 2px; right: 2px; }
.pc_thanks__prf_name-short{padding-right: 12px;}
.pc_thanks__prf_name-short::after{content: "*"; position: absolute; top: 2px; right: 2px; }
.pc_thanks__badge{display: inline-block; padding: 3px 8px 5px; margin-bottom: 8px; border-radius: 3px; background-color: #EFF3FF; font-size: 19px; font-weight: 700; color: #3654AE;}
.pc_thanks__paging{display: flex; justify-content: center; align-items: center; margin-top: 20px;}
.pc_thanks__next_btn{width: 26px; height: 26px; border-radius: 50%; box-shadow: 0 2px 8px rgba(0, 0, 0, .24);}
.pc_thanks__next_btn-left{background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m10.1 25.5-8-9.9 8-9.9'/%3e%3c/svg%3e") center center no-repeat; background-size: 8px 16px;}
.pc_thanks__next_btn:hover{background-color: #fafafa;}
.pc_thanks__next_btn-right{background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 8px 16px;}
.pc_thanks__pagination{margin: 0 15px; font-size: 15px; line-height: 20px; text-align: center;}
.pc_thanks__pagination_current{color: #202020; font-family: 700;}
.pc_thanks__pagination_total{color: #B8B8B8;}
.pc_thanks__pagination_slash{display: inline-block; width: 8px; height: 12px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 18' xml:space='preserve'%3e%3cpath fill='none' stroke='%23BFBFBF' stroke-width='2.5' stroke-linecap='round' d='M6 2 2 16'/%3e%3c/svg%3e") center no-repeat; background-size: 8px 12px;}

/* 스토어 상품 한 눈에 보기 */
.pc_goods_swipe{position: relative;}
.pc_goods_swipe__container{width: 100%; box-sizing: border-box; overflow-x: hidden;}
.pc_goods_swipe__wapper{display: flex;}
.pc_goods_swipe__slide{flex: none; display: flex; width: 100%;}
.pc_goods_swipe__card{flex: none; width: 19%; margin-right: 1.25%; cursor: pointer; transition: transform 0.2s ease-out;}
.pc_goods_swipe__card:last-child{margin-right: 0;}
.pc_goods_swipe__img_wrap{position: relative; width: 100%; padding-bottom: 100%; border: 1px solid #F1F1F1; border-radius: 8px; background-color: #e1e1e1; box-sizing: border-box; overflow: hidden;}
.pc_goods_swipe__img{position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; transform: translate(-50%, -50%) scale(1); transition: 0.3s ease-out;}
.pc_goods_swipe__card:hover .pc_goods_swipe__img{transform: translate(-50%, -50%) scale(1.1);}
.pc_goods_swipe__category{margin-top: 6px; font-size: 14px; color: #505050;}
.pc_goods_swipe__txt{color: #202020;}
.pc_goods_swipe__price{margin-top: 4px; font-size: 16px; font-weight: 700; color: #202020;}
.pc_goods_swipe__button_heart{position: absolute; top: 4px; right: 6px; width: 32px; height: 32px; background: url("https://image.yeoboya.com/imgs/new_wedding_portal/common/ico_heart_shadow.png") center no-repeat; background-size: 32px 32px; cursor: pointer;}
.pc_goods_swipe__button_heart.active{width: 32px; height: 32px; background: url("https://image.yeoboya.com/imgs/new_wedding_portal/common/ico_heart_shadow_active.png") center no-repeat; background-size: 32px 32px;}
.pc_goods_swipe__bdg_location{position: absolute; bottom: 8px; left: 8px; padding: 1px 5px 1px 19px; border-radius: 4px; background: rgba(32, 32, 32, .8) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cg fill='white'%3e%3cpath d='M12 5.2C9.9 5.3 8.3 7 8.4 9c0 2.1 1.6 3.8 3.6 3.8 2.1-.1 3.7-1.8 3.6-3.8.1-2-1.5-3.7-3.6-3.8z'/%3e%3cpath d='M12 .1C7.4.2 3.8 4 3.9 8.6c0 8.5 8.1 15.3 8.1 15.3s8.1-6.3 8.1-15.3C20.2 4 16.6.2 12 .1zm0 14.8c-3.2-.1-5.7-2.7-5.6-5.9 0-3.2 2.5-5.8 5.6-5.8 3.2.1 5.7 2.7 5.6 5.8.1 3.2-2.4 5.8-5.6 5.9z'/%3e%3c/g%3e%3c/svg%3e") left 5px center no-repeat; background-size: 12px 12px; color: #FFF; font-size: 12px;}
.pc_goods_swipe__bdg_mono{position: absolute; top: 0; left: 8px; width: 36px; height: 32px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 64' xml:space='preserve'%3e%3cpath fill='%23FF6E6E' d='M0 0h72v64L36.4 53.68 0 64V0z'/%3e%3c/svg%3e") center no-repeat; background-size: 100% auto; text-align: center; line-height: 26px; font-size: 13px; font-weight: 700; color: #FFF;}
.pc_goods_swipe__btn{position: absolute; top: 80px; width: 42px; height: 42px; border-radius: 50%; box-shadow: 0 3px 8px rgba(0, 0, 0, .24);}
.pc_goods_swipe__btn-left{display: none; left: -20px; background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m10.1 25.5-8-9.9 8-9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 12px auto;}
.pc_goods_swipe__btn-right{right: -20px; background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 12px auto;}
.pc_goods_swipe__btn:hover{background-color: #fafafa;}
/* 기본 배너 */
.pc_bnr_basic{position: relative; width: 100%; border-radius: 8px; background-color: #E1E1E1; margin-right: 18px; cursor: pointer;}
.pc_bnr_basic:last-child{margin-right: 0px}
.pc_bnr_basic__wrap{position: relative; width: 100%; padding-bottom: 26.48%;}
.pc_bnr_basic__img{position: absolute; top: 0; left: 0; width: 100%; height: auto;}

/* 서비스 설명 */
.pc_service_exp{display: flex; justify-content: space-between;}
.pc_service_exp__container{position: relative; display: flex; flex-direction: column; align-items: center; width: 50%; padding: 10px 0;}
.pc_service_exp__container::after{content: ""; position: absolute; top: 0; right: -1px; width: 2px; height: 100%; background-color: #E6E6E6;}
.pc_service_exp__container:last-child::after{content: ""; display: none;}
.pc_service_exp__tit{margin-bottom: 11px; font-size: 21px; font-weight: 700; color: #202020; text-align: center;}
.pc_service_exp__img{width: 322px; height: 138px; margin-bottom: 12px;}
.pc_service_exp__txt{font-size: 14px; line-height: 18px; color: #202020; text-align: center;}

/* 스와이프 배너 */
.pc_bnr_swipe{position: relative;}
.pc_bnr_swipe__container{width: 100%; overflow: hidden;}
.pc_bnr_swipe__wrapper{display: flex; width: 100%;}
.pc_bnr_swipe__slide{position: relative; flex: none; width: 100%; padding-bottom: 15.918%; cursor: pointer;}
.pc_bnr_swipe__img{position: absolute; top: 0; left: 0; width: 100%; height: auto;}
.pc_bnr_swipe__pagination{position: absolute; bottom: 15px; right: 35px; width: 52px; height: 20px; border-radius: 25px; background-color: rgba(0, 0, 0, .7); font-size: 14px; line-height: 20px; text-align: center;}
.pc_bnr_swipe__pagination_current{color: #FFFFFF;}
.pc_bnr_swipe__pagination_total{color: #BFBFBF;}
.pc_bnr_swipe__pagination_slash{display: inline-block; width: 4px; height: 9px; margin: 0 2px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 18' xml:space='preserve'%3e%3cpath fill='none' stroke='%23BFBFBF' stroke-width='2' stroke-linecap='round' d='M6 2 2 16'/%3e%3c/svg%3e") center no-repeat; background-size: 4px 9px;}

/* TV 광고 */
.pc_tv_video{position: relative; padding-top: 30px;}
.pc_tv_video__bg{position: absolute; top: 0px; left: 50%; width: 100%; min-width: 980px; height: 283px; background-color: #EFF3FF; transform: translateX(-50%); z-index: -1;}
.pc_tv_video__media_container{position: relative; width: 525px; margin: 0 auto}
.pc_tv_video__media_wrap{position: relative; width: 100%; padding-bottom: 56.25%; background-color: #f1f1f1;}
.pc_tv_video__media{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.pc_tv_video__icon{position: absolute; top: -58px; right: 20px; width: 61px; height: 51px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/start/icon_yby_ad_tv.png") center no-repeat; background-size: 61px 51px;}

/* 이벤트 */
.pc_evnt_swipe{position: relative;}
.pc_evnt_swipe__container{width: 750px; margin: 0 auto; padding: 0 8px 8px; overflow: hidden;}
.pc_evnt_swipe__wrapper{display: flex;}
.pc_evnt_swipe__slide{flex: none; width: 240px; border-radius: 8px; box-shadow: 0 3px 6px rgba(0, 0, 0, .16); overflow: hidden; cursor: pointer;}
.pc_evnt_swipe__img{width: 100%; padding-bottom: 45.833%; background-position: center; background-repeat: no-repeat; background-size: 100% auto;}
.pc_evnt_swipe__content{padding: 12px 12px 16px;}
.pc_evnt_swipe__bdg_wrap{display: flex; align-items: center; margin-bottom: 2px;}
.pc_evnt_swipe__bdg{flex: none; margin-right: 4px; padding: 2px 4px; border-radius: 4px; font-size: 12px; color: #FFF;}
.pc_evnt_swipe__bdg-blue{background-color: #4169E1;}
.pc_evnt_swipe__bdg-orange{background-color: #FFAA3B;}
.pc_evnt_swipe__bdg-red{background-color: #FF6E6E;}
.pc_evnt_swipe__bdg-purple{background-color: #975BDB;}
.pc_evnt_swipe__tit{font-size: 16px; font-weight: 700; color: #202020;}
.pc_evnt_swipe__btn{position: absolute; top: 50%; width: 42px; height: 41px; border-radius: 50%; box-shadow: 0 2px 8px rgba(0, 0, 0, .16); transform: translateY(-50%);}
.pc_evnt_swipe__btn-left{left: 48px; background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m10.1 25.5-8-9.9 8-9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 12px auto;}
.pc_evnt_swipe__btn-right{right: 48px; background: #FFF url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' xml:space='preserve'%3e%3cpath fill='none' stroke='%23505050' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m5.9 6.5 8 9.9-8 9.9'/%3e%3c/svg%3e") center no-repeat; background-size: 12px auto;}
.pc_evnt_swipe__btn:hover{background-color: #fafafa; }
/* fafafa */

/* 푸터 */
.pc_footer{width: 100%; min-width: 980px; background-color: #FAFAFA;}
.pc_footer__container{width: 980px; margin: 0 auto; padding: 32px 0 90px;}
.pc_footer__top{display: flex; align-items: center;}
.pc_footer__menu_wrap{display: flex;}
.pc_footer__menu{position: relative; margin-right: 6px;}
.pc_footer__menu::after{content: ""; position: absolute; top: 50%; right: -3px; width: 2px; height: 20px; background-color: #D4D4D4; transform: translateY(-50%);}
.pc_footer__menu:last-child::after{content: ""; display: none;}
.pc_footer__btn{padding: 6px 8px; font-size: 19px; color: #909090;}
.pc_footer__btn:hover{color: #808080;}
.pc_footer__btn-emp{color: #505050; font-weight: 700;}
.pc_footer__btn-emp:hover{color: #303030;}
.pc_footer__share_wrap{display: flex;}
.pc_footer__share_wrap{display: flex; margin-left: auto;}
.pc_footer__share{margin-left: 12px;}
.pc_footer__share_btn{width: 40px; height: 40px; background-repeat: no-repeat;}
.pc_footer__share_btn-youtube{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_share.png"); background-position: left 0 center; background-size: 196px 40px;}
.pc_footer__share_btn-instagram{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_share.png"); background-position: left -52px center; background-size: 196px 40px;}
.pc_footer__share_btn-facebook{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_share.png"); background-position: left -104px center; background-size: 196px 40px;}
.pc_footer__share_btn-naverblog{background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_share.png"); background-position: left -156px center; background-size: 196px 40px;}
.pc_footer__hr{width: 100%; height: 2px; margin: 12px 0 18px; background-color: #F1F1F1;}
.pc_footer__logo{width: 94px; height: 37px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/logo_yby_gray.png") center no-repeat; background-size: 100% auto;}
.pc_footer__info_txt_wrap{margin-bottom: 5px;}
.pc_footer__info_txt{position: relative; display: inline-block; padding-right: 9px; font-size: 16px; font-weight: 400; color: #B8B8B8;}
.pc_footer__info_txt::after{content: ""; position: absolute; top: 50%; right: 3px; width: 1px; height: 16px; background-color: #E1E1E1; transform: translateY(-50%);}
.pc_footer__info_txt:last-child::after{content: ""; display: none;}

/* 팝업 */
.pc_pop{position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 100;}
.pc_pop__bg{width: 100%; height: 100%; background: rgba(0, 0, 0, .4);}
.pc_pop__container{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.pc_pop_app{width: 520px; border-radius: 0 0 8px 8px; overflow: hidden;}
.pc_pop__header{position: relative; text-align: center; height: 65px; border-radius: 8px 8px 0 0; background-color: #3654AE;}
.pc_pop__header_tit{font-size: 24px; font-weight: 700; color: #FFF; line-height: 65px;}
.pc_pop__btn_close{position: absolute; top: 0; right: 0; width: 65px; height: 65px; background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cg fill='none' stroke='%23FFFFFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M28.001 4.153l-24 23.7M28.001 27.853l-24-23.7'/%3e%3c/g%3e%3c/svg%3e") no-repeat center; background-size: 20px;}
.pc_pop_app__btn_close:hover{background-color: rgba(0, 0, 0, .1);}
.pc_pop_app__content{padding: 30px 28px; background: #FFF;}
.pc_pop_app__section{display: flex;}
.pc_pop_app__icon_message{flex: none; width: 98px; height: 98px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_install_msg.png") center no-repeat; background-size: 98px 98px;}
.pc_pop_app__icon_download{flex: none; width: 98px; height: 98px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_install_app.png") center no-repeat; background-size: 98px 98px;}
.pc_pop_app__exp{width: 100%; margin-left: 16px;}
.pc_pop_app__exp_tit{font-size: 19px; font-weight: 700; color: #202020;}
.pc_pop_app__exp_tit-emp{margin-right: 4px; color: #4169E1;}
.pc_pop_app__exp_txt{margin-bottom: 12px; font-size: 17px; font-weight: 400; color: #202020;}
.pc_pop_app__form{position: relative;}
.pc_pop_app__input_wrap{display: flex; align-items: center; width: 100%;}
.pc_pop_app__input{width: 100%; height: 44px; border: 1px solid #909090; border-radius: 8px; padding: 11px 12px; box-sizing: border-box;}
.pc_pop_app__input::placeholder{color: #909090;}
.pc_pop_app__btn_submit{flex: none; width: 72px; height: 44px; margin-left: 6px; border-radius: 8px; background-color: #3654AE; color: #fff; text-align: center; line-height: 44px;}
.pc_pop_app__btn_submit:hover{background-color: #2745a0;}
.pc_pop_app__checkbox_label{display: flex; margin-top: 10px; cursor: pointer;}
.pc_pop_app__checkbox_btn{width: 23px; height: 23px; border-radius: 4px; background-color: #E9E9E9; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.32 20.97'%3e%3cpath fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' d='M2 11.12l8.77 7.84L26.32 2'/%3e%3c/svg%3e"); background-position: center; background-repeat: no-repeat; background-size: 60%, cover;}
.pc_pop_app__checkbox_label>.blind:checked~.pc_pop_app__checkbox_btn {background-color:#4169E1;}
.pc_pop_app__checkbox_txt{margin-left: 10px; font-size: 14px; line-height: 20px; color: #636363;}
.pc_pop_app__hr{width: 100%; height: 2px; margin: 28px 0; background-color: #E6E6E6;}
.pc_pop_app__btn_wrap{display: flex; align-items: center; margin-bottom: 10px;}
.pc_pop_app__btn_install{display: flex; justify-content: center; align-items: center; height: 44px; margin-right: 12px; padding: 0 16px; border: 1px solid #909090; border-radius: 8px; box-sizing: border-box;}
.pc_pop_app__btn_install:hover{background-color: #fafafa;}
.pc_pop_app__txt_install{margin-left: 6px; color: #909090;}
.pc_pop_app__icon_aos{width: 24px; height: 24px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_aos.png") center no-repeat; background-size: 24px 24px;}
.pc_pop_app__icon_ios{width: 24px; height: 24px; background: url("https://image.yeoboya.com/imgs/new_wedding/new_jsp/pc/icon_pc_ios.png") center no-repeat; background-size: 24px 24px;}

.pc_pop_notice{width: 520px; border-radius: 0 0 8px 8px; overflow: hidden;}
.pc_pop_notice__content{padding: 22px; background: #fff;}
.pc_pop_notice__hr{width: 100%; height: 2px; background: #e6e6e6;}
.pc_pop_notice__tit_wrap{padding-bottom: 28px; color: #202020; font-size: 19px;}
.pc_pop_notice__tit{font-weight: 700;}
.pc_pop_notice__txt_wrap{padding-top: 28px;}
.pc_pop_notice__txt_index{padding-bottom: 10px; color: #202020; font-size: 17px; font-weight: 700; }
.pc_pop_notice__txt + .pc_pop_notice__txt{padding-top: 6px;}

/* 연말 이벤트 팝업 */
.pc_pop_evnt{position: relative;}
.pc_pop_evnt__img{display: block; width: 500px; height: auto; cursor: pointer;}
.pc_pop_evnt__close{width:100%; height:36px; background-color:#444444; text-align:center; line-height: 36px; color:#fff; font-size:14px;}
.pc_pop_evnt__checkbox_lb{cursor: pointer;}
.pc_pop_evnt__checkbox_lb{width: 13px; height: 13px; z-index: 100;}
.pc_pop_evnt__checkbox{appearance:auto; cursor: pointer; margin-right: 5px; line-height: 36px;}
.pc_pop_evnt__cls_btn_txt{display: inline; margin-left: 4px; color: #FFF; vertical-align: baseline;}
