/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/
/*□                                            □*/
/*□                 Typography                 □*/
/*□                                            □*/
/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/

/* 텍스트 꾸밈 - highlight */
.tht-blue {background:linear-gradient(to top, #CCD9FF 50%, transparent 50%);}
.tht-red_50 {background:linear-gradient(to top,#ffccd3 50%, transparent 50%);}
.tdu{text-decoration: underline;}