/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/
/*□                                            □*/
/*□                 Typography                 □*/
/*□                                            □*/
/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/

/* 텍스트 꾸밈 - highlight */
.tht-primary_30 {background:linear-gradient(to top, $primary-200 30%, transparent 30%);}
.tht-primary_50 {background:linear-gradient(to top, $primary-200 50%, transparent 50%);}
.tht-primary100_30 {background:linear-gradient(to top, $primary-100 30%, transparent 30%);}
.tht-primary100_50 {background:linear-gradient(to top, $primary-100 50%, transparent 50%);}