@charset "utf-8";
/*---------------------------------------------
	파일명 : __drawer_qna
	설　명 : 자주하는 도움말 / 내 문의내역
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/

.drawer_qna{position: relative;}
.drawer_qna__li{position: relative;}
.drawer_qna__header{display:flex; align-items: center; padding: 12px 15px; border-bottom: 1px solid #F1F1F1; cursor: pointer;}
.drawer_qna__tit_wrap{position: relative; margin-right:4px;}
.drawer_qna__tit{display: flex; align-items: center;}
.drawer_qna__tit_txt{display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; margin-right: 8px; word-break: break-all; overflow: hidden; text-overflow: ellipsis;}
.drawer_qna__preview{display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; margin-top:4px; overflow: hidden; text-overflow: ellipsis; font-size: 14px;}
.drawer_qna__basic_tit{display: flex; color: #202020;}
.drawer_qna__category{flex: none; margin-right: 4px; font-weight: 700; color: #202020;}
.drawer_qna__date{ margin-top:2px; font-size: 12px; color: #909090;}
.drawer_qna__bdg{display: inline-block; height: 22px; margin-right: 4px; padding: 0 7px; border: 1px solid #909090; border-radius: 4px; font-size: 12px; font-weight: 700; line-height: 20px; color: #909090; box-sizing: border-box;}
.drawer_qna__bdg-complete{border-color: #17BC6F; color: #17BC6F;}

.drawer_qna__arrow{flex: none; width: 24px; height: 24px; margin-left:auto; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' xml:space='preserve'%3e%3cpath fill='%23202020' d='M6 9.6c0 .2.1.3.2.5l5.5 4.8c.2.2.5.2.7 0l5.5-4.8c.2-.2.3-.6.1-.8-.2-.2-.5-.3-.7-.1h-.1L12 13.6 6.9 9.1c-.2-.2-.5-.1-.7.1v.1c-.2 0-.2.2-.2.3'/%3e%3c/svg%3e") center no-repeat; background-size: 24px 24px;}
.drawer_qna__li.active .drawer_qna__arrow{transform: rotate(180deg);}

.drawer_qna__content{display: none; padding: 15px; background-color: #FAFAFA; border-bottom: 1px solid #E1E1E1;}
.drawer_qna__qna_box{margin-top: 16px; border-top: 1px solid #F1F1F1;}
.drawer_qna__qna_box:first-child{margin-top: 0; border-top: none;}
.drawer_qna__li.active .drawer_qna__content{display: block;}
.drawer_qna__question{padding-bottom: 16px;}
.drawer_qna__answer{padding-top: 16px;  border-top: 1px solid #F1F1F1;}
.drawer_qna__txt{font-size: 14px; color: #202020; line-height: 22px; word-break: break-all; white-space: pre-wrap;}
.drawer_qna__answer_tit{padding: 16px 0 8px; font-weight: 700; color: #202020;}
.drawer_qna__answer_date{font-weight: 500; color: #505050;}
.drawer_qna__btn_wrap{display: inline-flex; align-items: flex-start;}
.drawer_qna__num_wrap{display: flex; align-items: center; margin-top: 20px;}
.drawer_qna__num{width: 110px; height: auto;}
.drawer_qna__opening{margin-left: 6px; font-size: 12px; color: #909090;}