@charset "utf-8";
/*---------------------------------------------
	파일명 : __info_manage.css
	설　명 : 내 커뮤니티 정보
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/

/* .info_manage{flex: 1 1 auto; display: flex; flex-direction: column;} */
.info_manage{width:100%;}

.info_manage__pf{padding: 20px 15px; background: #EFF3FF;}
.info_manage__pf_content{display: flex; align-items: center;}
.info_manage__pf_box{display: flex; flex-direction: column; margin-left:16px;}
.info_manage__pf_name_wrap{display: flex; align-items: center;}
.info_manage__pf_name{font-size: 18px; font-weight: 700; color: #202020;}
.info_manage__pf_email{display: flex; align-items: center; line-height: 19px; font-size: 13px;}
.info_manage__pf_email_ico{margin-right: 4px;}
.info_manage__list_wrap{padding: 20px 20px 0;}
.info_manage__list{display: flex; align-items: center; margin-bottom: 10px;}
.info_manage__list_tit{flex: 0 0 auto; width: 92px; margin-right: 8px; font-size: 14px; font-weight: 700; color: #202020;}
.info_manage__list_txt{font-size: 14px;}

.info_manage__edit_btn{display: inline-flex; align-items: center; flex: 0 0 auto; margin-left: 10px; cursor: pointer;}
.info_manage__edit_btn_txt{font-size: 14px; color: #909090; margin-right: 2px;}
.info_manage__edit_btn_ico{width: 16px; height: 16px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' xml:space='preserve'%3e%3cg fill='%23909090'%3e%3cpath d='m5.461 13.101-2.91.87a.426.426 0 0 1-.53-.53l.87-2.91 2.57 2.57zM13.636 2.631l-.27-.27c-.7-.63-1.78-.58-2.41.11l-.46.46 2.57 2.57.46-.46c.69-.63.74-1.71.11-2.41zM3.366 10.051l6.63-6.63 2.58 2.58-6.63 6.63-2.58-2.58z'/%3e%3c/g%3e%3cpath fill='none' d='M0 0h16v16H0z'/%3e%3c/svg%3e") no-repeat center; background-size: 100% 100%;}


.info_manage__edit_btn{display: inline-flex; align-items: center; flex: 0 0 auto; cursor: pointer;}
.info_manage__edit_btn_txt{font-size: 14px; color: #909090; margin-right: 2px;}
.info_manage__edit_btn_ico{width: 16px; height: 16px; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' xml:space='preserve'%3e%3cg fill='%23B8B8B8'%3e%3cpath d='m5.461 13.101-2.91.87a.426.426 0 0 1-.53-.53l.87-2.91 2.57 2.57zM13.636 2.631l-.27-.27c-.7-.63-1.78-.58-2.41.11l-.46.46 2.57 2.57.46-.46c.69-.63.74-1.71.11-2.41zM3.366 10.051l6.63-6.63 2.58 2.58-6.63 6.63-2.58-2.58z'/%3e%3c/g%3e%3cpath fill='none' d='M0 0h16v16H0z'/%3e%3c/svg%3e") no-repeat center; background-size: 100% 100%;}

.info_manage__edit_btn-bdg{padding: 1px 3px; border: 1px solid #b8b8b8; border-radius: 4px; background: #ffffff;}
.info_manage__edit_btn-bdg .info_manage__edit_btn_txt{font-size: 13px; margin-right: 0; color: #A4A4A4;}

.info_manage__box{display: flex; justify-content: center; align-items: center; width: 100%; height: 70px; padding: 12px; margin-top: 16px; border-radius: 8px; box-sizing: border-box; background: #8A8EFB; color: #ffffff;}
.info_manage__box_item{display: flex; flex-direction: column; align-items: center; width: 33%; cursor: pointer;}
.info_manage__box_vr{width: 1px; height: 24px; background-color:#ABAEFF ;}
.info_manage__box_ico{width: 24px; height: 24px; } 
.info_manage__box_ico-my_post{background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' xml:space='preserve'%3e%3cg fill='%23ffffff'%3e%3cpath d='M11.86 16H2.27C1.3 16 .51 15.21.5 14.23v-9.6c0-.97.79-1.76 1.77-1.77h6.57c.28 0 .5.22.5.5s-.22.5-.5.5H2.27a.77.77 0 0 0-.77.77v9.6c0 .42.34.77.77.77h9.59c.42 0 .77-.34.77-.77V7.69c0-.28.22-.5.5-.5s.5.22.5.5v6.54c0 .98-.79 1.77-1.77 1.77z'/%3e%3cpath d='m15.14 2.45-1.09-1.1c-.46-.47-1.22-.47-1.69-.01L4.45 9.3c-.02.01-.04.02-.05.03a.21.21 0 0 0-.04.06l-.24.23c-.05.06-.1.13-.12.21l-.93 3.02c-.01.05-.02.1-.02.15 0 .28.22.5.5.5.05 0 .1 0 .15-.01l3-.93c.08-.02.15-.07.21-.12l8.24-8.28c.46-.48.46-1.24-.01-1.71zm-2.06-.41c.08-.08.2-.07.27 0l1.09 1.1c.08.08.08.2 0 .28l-.27.28-1.38-1.36.29-.3c0 .01 0 .01 0 0zm-6.24 9.03L5.47 9.7l6.62-6.65 1.38 1.36-6.63 6.66zm-2-.58 1.21 1.21-1.74.54.53-1.75z'/%3e%3c/g%3e%3c/svg%3e") no-repeat center;}
.info_manage__box_ico-recent_post{background: url("https://image.yeoboya.com/imgs/new_wedding_commu/ico/ico_recent_post.png") no-repeat center; background-size: 100% auto;}
.info_manage__box_ico-block{background: url("https://image.yeoboya.com/imgs/new_wedding_commu/ico/ico_block.png") no-repeat center; background-size: 100% auto;}
.info_manage__box_txt{margin-top: 4px; font-size: 14px; font-weight: 700;}