@charset "utf-8";
/*---------------------------------------------
	파일명 : __photo_edit
	설　명 : 사진등록 시 편집기능
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / padding / margin / border / background / font / overflow / etc...
---------------------------------------------*/

.photo_edit__bot_wrap {position:relative; width:100%;}
.photo_edit__bot {display:flex; flex-direction: column; align-items:center; width:100%; min-height:72px; background-color:rgba(0,0,0,0.7); box-shadow:0 -1px 3px 0 rgba(0,0,0,0.12); box-sizing: border-box;}
.photo_edit__btn_wrap {display:flex; align-items:center; justify-content:center; width:100%;}
.photo_edit__btn {display:flex; flex-direction: column; align-items: center; width:100%;}
.photo_edit__ico {width:40px; height:40px; background-repeat:no-repeat; background-position: center; background-size:100% 100%;}
.photo_edit__ico-rotate {background-image:url("https://image.yeoboya.com/imgs/new_wedding_commu/ico/ico_photo_edit_rotate.png");}
.photo_edit__ico-back {background-image:url("https://image.yeoboya.com/imgs/new_wedding_commu/ico/ico_photo_edit_back.png");}